In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/PRCPTOT'

dataframes = read_csv_files(csv_directory)
dataframes

[    year  prcptot      Station
 0   1901    748.4  61700004063
 1   1902    571.2  61700004063
 2   1903    532.1  61700004063
 3   1904    515.5  61700004063
 4   1905    624.5  61700004063
 ..   ...      ...          ...
 94  1995    760.5  61700004063
 95  1996    652.1  61700004063
 96  1997    579.5  61700004063
 97  1998    711.8  61700004063
 98  1999    652.1  61700004063

 [99 rows x 3 columns],
      year  prcptot      Station
 0    1879    -99.9  LOCID000043
 1    1880    -99.9  LOCID000043
 2    1881    -99.9  LOCID000043
 3    1882    -99.9  LOCID000043
 4    1883    -99.9  LOCID000043
 ..    ...      ...          ...
 121  2000    649.1  LOCID000043
 122  2001    856.5  LOCID000043
 123  2002    929.0  LOCID000043
 124  2003    537.0  LOCID000043
 125  2004    783.0  LOCID000043

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1879    -99.9  LOCID000042
 1    1880    -99.9  LOCID000042
 2    1881    -99.9  LOCID000042
 3    1882    -99.9  LOCID000042
 4    1883    -99.9  LOCID000042
 ..    ...      ...          ...
 121  2000    649.1  LOCID000042
 122  2001    856.5  LOCID000042
 123  2002    917.0  LOCID000042
 124  2003    537.0  LOCID000042
 125  2004    781.0  LOCID000042

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1870    604.1  LOCID000040
 1    1871    628.8  LOCID000040
 2    1872    737.3  LOCID000040
 3    1873    508.8  LOCID000040
 4    1874    429.9  LOCID000040
 ..    ...      ...          ...
 130  2000    703.0  LOCID000040
 131  2001    717.0  LOCID000040
 132  2002    731.0  LOCID000040
 133  2003    333.0  LOCID000040
 134  2004    511.0  LOCID000040

 [135 rows x 3 columns],
      year   prcptot      Station
 0    1879     -99.9  LOCID000054
 1    1880     -99.9  LOCID000054
 2    1881     -99.9  LOCID000054
 3    1882     -99.9  LOCID000054
 4    1883     -99.9  LOCID000054
 ..    ...       ...          ...
 121  2000    2215.2  LOCID000054
 122  2001    2518.2  LOCID000054
 123  2002     -99.9  LOCID000054
 124  2003     -99.9  LOCID000054
 125  2004     -99.9  LOCID000054

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1870    -99.9  LOCID000041
 1    1871    -99.9  LOCID000041
 2    1872    -99.9  LOCID000041
 3    1873    -99.9  LOCID000041
 4    1874    -99.9  LOCID000041
 ..    ...      ...          ...
 130  2000    483.0  LOCID000041
 131  2001    573.0  LOCID000041
 132  2002    639.0  LOCID000041
 133  2003    409.0  LOCID000041
 134  2004    543.0  LOCID000041

 [135 rows x 3 columns],
     year  prcptot      Station
 0   1912    773.5  61700003865
 1   1913    572.6  61700003865
 2   1914    805.6  61700003865
 3   1915    653.9  61700003865
 4   1916    752.9  61700003865
 5   1917    576.1  61700003865
 6   1918    813.1  61700003865
 7   1919    525.3  61700003865
 8   1920    569.5  61700003865
 9   1921    562.4  61700003865
 10  1922    625.7  61700003865
 11  1923    687.0  61700003865
 12  1924    609.2  61700003865
 13  1925    716.2  61700003865
 14  1926    926.9  61700003865
 15  1927    853.0  61700003865
 16  1928    730.0  61700003865
 17  1929    551.6  61700003865
 18  1930    682.5  61700003865
 19  1931    888.4  61700003865
 20  1932    615.7  61700003865
 21  1933    539.9  61700003865
 22  1934    515.3  61700003865
 23  1935    757.5  61700003865
 24  1936    734.6  61700003865
 25  1937    822.9  61700003865
 26  1938    616.3  61700003865
 27  1939    775.3  61700003865
 28  1940    718.4  61700003865
 29  1941    818.1  61700003865
 30  1942    562.7  61700003865
 31  1943    601.4  61700003865
 32  1944    686.3  61700003865
 33  1945    760.3  61700003865
 34  1946    635.1  61700003865
 35  1947    608.3  61700003865
 36  1948    676.8  61700003865
 37  1949    645.7  61700003865
 38  1950    736.9  61700003865
 39  1951    850.2  61700003865
 40  1952    645.0  61700003865
 41  1953    600.9  61700003865
 42  1954    905.7  61700003865
 43  1955    705.0  61700003865
 44  1956    635.3  61700003865
 45  1957    647.6  61700003865
 46  1958    716.4  61700003865
 47  1959    389.8  61700003865
 48  1960    854.5  61700003865
 49  1961    847.4  61700003865
 50  1962    -99.9  61700003865,
      year  prcptot      Station
 0    1879    -99.9  LOCID000045
 1    1880    -99.9  LOCID000045
 2    1881    -99.9  LOCID000045
 3    1882    -99.9  LOCID000045
 4    1883    -99.9  LOCID000045
 ..    ...      ...          ...
 121  2000    518.9  LOCID000045
 122  2001    611.7  LOCID000045
 123  2002    -99.9  LOCID000045
 124  2003    -99.9  LOCID000045
 125  2004    -99.9  LOCID000045

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1879    -99.9  LOCID000051
 1    1880    -99.9  LOCID000051
 2    1881    -99.9  LOCID000051
 3    1882    -99.9  LOCID000051
 4    1883    -99.9  LOCID000051
 ..    ...      ...          ...
 121  2000    597.9  LOCID000051
 122  2001    638.8  LOCID000051
 123  2002    779.0  LOCID000051
 124  2003    498.0  LOCID000051
 125  2004    636.0  LOCID000051

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1879    536.3  LOCID000050
 1    1880    562.9  LOCID000050
 2    1881    492.0  LOCID000050
 3    1882    732.1  LOCID000050
 4    1883    428.7  LOCID000050
 ..    ...      ...          ...
 121  2000    511.8  LOCID000050
 122  2001    598.3  LOCID000050
 123  2002    700.0  LOCID000050
 124  2003    419.0  LOCID000050
 125  2004    534.0  LOCID000050

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1879   1069.1  LOCID000044
 1    1880   1221.1  LOCID000044
 2    1881    919.4  LOCID000044
 3    1882   1040.0  LOCID000044
 4    1883   1040.1  LOCID000044
 ..    ...      ...          ...
 121  2000   1295.6  LOCID000044
 122  2001   1261.3  LOCID000044
 123  2002    -99.9  LOCID000044
 124  2003    -99.9  LOCID000044
 125  2004    -99.9  LOCID000044

 [126 rows x 3 columns],
     year  prcptot      Station
 0   1901    494.6  61700003319
 1   1902    606.3  61700003319
 2   1903    511.1  61700003319
 3   1904    464.2  61700003319
 4   1905    665.1  61700003319
 ..   ...      ...          ...
 94  1995    577.1  61700003319
 95  1996    523.2  61700003319
 96  1997    481.4  61700003319
 97  1998    581.0  61700003319
 98  1999    409.3  61700003319

 [99 rows x 3 columns],
      year  prcptot      Station
 0    1879    -99.9  LOCID000052
 1    1880    -99.9  LOCID000052
 2    1881    -99.9  LOCID000052
 3    1882    -99.9  LOCID000052
 4    1883    -99.9  LOCID000052
 ..    ...      ...          ...
 121  2000    623.0  LOCID000052
 122  2001    726.0  LOCID000052
 123  2002   1069.0  LOCID000052
 124  2003    439.0  LOCID000052
 125  2004    645.0  LOCID000052

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1879    -99.9  LOCID000046
 1    1880    -99.9  LOCID000046
 2    1881    -99.9  LOCID000046
 3    1882    -99.9  LOCID000046
 4    1883    -99.9  LOCID000046
 ..    ...      ...          ...
 121  2000    -99.9  LOCID000046
 122  2001    -99.9  LOCID000046
 123  2002    -99.9  LOCID000046
 124  2003    -99.9  LOCID000046
 125  2004    -99.9  LOCID000046

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1876    961.3  LOCID000047
 1    1877   1431.3  LOCID000047
 2    1878   1275.1  LOCID000047
 3    1879   1350.7  LOCID000047
 4    1880   1174.5  LOCID000047
 ..    ...      ...          ...
 124  2000    735.2  LOCID000047
 125  2001    851.5  LOCID000047
 126  2002    -99.9  LOCID000047
 127  2003    -99.9  LOCID000047
 128  2004    -99.9  LOCID000047

 [129 rows x 3 columns],
      year   prcptot      Station
 0    1879     -99.9  LOCID000053
 1    1880     -99.9  LOCID000053
 2    1881     -99.9  LOCID000053
 3    1882     -99.9  LOCID000053
 4    1883     -99.9  LOCID000053
 ..    ...       ...          ...
 121  2000     -99.9  LOCID000053
 122  2001     -99.9  LOCID000053
 123  2002     -99.9  LOCID000053
 124  2003     -99.9  LOCID000053
 125  2004     -99.9  LOCID000053

 [126 rows x 3 columns],
     year  prcptot      Station
 0   1917    454.5  61700003244
 1   1918    598.4  61700003244
 2   1919    628.5  61700003244
 3   1920    641.5  61700003244
 4   1921    568.2  61700003244
 ..   ...      ...          ...
 78  1995    721.0  61700003244
 79  1996    516.2  61700003244
 80  1997    598.5  61700003244
 81  1998    736.6  61700003244
 82  1999    618.0  61700003244

 [83 rows x 3 columns],
     year  prcptot      Station
 0   1901    751.5  61700002698
 1   1902    623.1  61700002698
 2   1903    697.0  61700002698
 3   1904    739.3  61700002698
 4   1905    582.5  61700002698
 ..   ...      ...          ...
 94  1995    891.2  61700002698
 95  1996    670.2  61700002698
 96  1997    766.9  61700002698
 97  1998    657.3  61700002698
 98  1999    822.0  61700002698

 [99 rows x 3 columns],
     year  prcptot      Station
 0   1901    765.6  61700002288
 1   1902    554.1  61700002288
 2   1903    643.9  61700002288
 3   1904    728.0  61700002288
 4   1905    560.6  61700002288
 ..   ...      ...          ...
 94  1995    -99.9  61700002288
 95  1996    -99.9  61700002288
 96  1997    -99.9  61700002288
 97  1998    -99.9  61700002288
 98  1999    879.9  61700002288

 [99 rows x 3 columns],
     year  prcptot      Station
 0   1907    -99.9  61700002277
 1   1908    649.6  61700002277
 2   1909    683.3  61700002277
 3   1910    839.1  61700002277
 4   1911    539.0  61700002277
 ..   ...      ...          ...
 88  1995    902.3  61700002277
 89  1996    -99.9  61700002277
 90  1997    736.5  61700002277
 91  1998    804.1  61700002277
 92  1999    -99.9  61700002277

 [93 rows x 3 columns],
     year  prcptot      Station
 0   1901    564.7  61700003342
 1   1902    559.8  61700003342
 2   1903    559.1  61700003342
 3   1904    432.3  61700003342
 4   1905    706.7  61700003342
 ..   ...      ...          ...
 94  1995    580.6  61700003342
 95  1996    413.6  61700003342
 96  1997    460.6  61700003342
 97  1998    568.7  61700003342
 98  1999    380.6  61700003342

 [99 rows x 3 columns],
     year  prcptot      Station
 0   1901    869.1  61700001153
 1   1902    739.4  61700001153
 2   1903    867.1  61700001153
 3   1904    619.0  61700001153
 4   1905    677.9  61700001153
 ..   ...      ...          ...
 86  1987    777.3  61700001153
 87  1988    792.8  61700001153
 88  1989    593.0  61700001153
 89  1990    772.1  61700001153
 90  1991    629.7  61700001153

 [91 rows x 3 columns],
      year  prcptot      Station
 0    1876    614.8  LOCID000037
 1    1877    605.1  LOCID000037
 2    1878    525.4  LOCID000037
 3    1879    536.3  LOCID000037
 4    1880    562.9  LOCID000037
 ..    ...      ...          ...
 124  2000    539.3  LOCID000037
 125  2001    622.0  LOCID000037
 126  2002    700.0  LOCID000037
 127  2003    419.0  LOCID000037
 128  2004    510.0  LOCID000037

 [129 rows x 3 columns],
      year  prcptot      Station
 0    1879    622.0  LOCID000036
 1    1880    603.5  LOCID000036
 2    1881    621.6  LOCID000036
 3    1882    875.8  LOCID000036
 4    1883    553.5  LOCID000036
 ..    ...      ...          ...
 121  2000    567.6  LOCID000036
 122  2001    692.7  LOCID000036
 123  2002    804.0  LOCID000036
 124  2003    385.0  LOCID000036
 125  2004    579.0  LOCID000036

 [126 rows x 3 columns],
     year  prcptot      Station
 0   1901    575.3  61700004204
 1   1902    570.2  61700004204
 2   1903    519.3  61700004204
 3   1904    471.1  61700004204
 4   1905    706.2  61700004204
 ..   ...      ...          ...
 94  1995    729.5  61700004204
 95  1996    575.6  61700004204
 96  1997    -99.9  61700004204
 97  1998    553.2  61700004204
 98  1999    558.4  61700004204

 [99 rows x 3 columns],
     year  prcptot      Station
 0   1901    705.1  61700004199
 1   1902    758.8  61700004199
 2   1903    805.2  61700004199
 3   1904    757.2  61700004199
 4   1905    903.8  61700004199
 ..   ...      ...          ...
 94  1995   1014.6  61700004199
 95  1996    833.2  61700004199
 96  1997    781.9  61700004199
 97  1998    935.5  61700004199
 98  1999    -99.9  61700004199

 [99 rows x 3 columns],
     year  prcptot      Station
 0   1901    442.5  61700003218
 1   1902    429.2  61700003218
 2   1903    347.3  61700003218
 3   1904    346.4  61700003218
 4   1905    614.2  61700003218
 ..   ...      ...          ...
 85  1986    490.2  61700003218
 86  1987    496.0  61700003218
 87  1988    395.0  61700003218
 88  1989    366.0  61700003218
 89  1990    -99.9  61700003218

 [90 rows x 3 columns],
     year  prcptot      Station
 0   1901    792.6  61700002716
 1   1902    567.5  61700002716
 2   1903    709.3  61700002716
 3   1904    670.3  61700002716
 4   1905    661.4  61700002716
 ..   ...      ...          ...
 94  1995    691.2  61700002716
 95  1996    584.5  61700002716
 96  1997    609.9  61700002716
 97  1998    692.1  61700002716
 98  1999    722.5  61700002716

 [99 rows x 3 columns],
     year  prcptot      Station
 0   1901   1465.0  61700004155
 1   1902   1245.7  61700004155
 2   1903   1403.0  61700004155
 3   1904   1314.0  61700004155
 4   1905   1100.9  61700004155
 ..   ...      ...          ...
 94  1995   2555.4  61700004155
 95  1996   1852.7  61700004155
 96  1997   1957.8  61700004155
 97  1998   2163.4  61700004155
 98  1999   2339.1  61700004155

 [99 rows x 3 columns],
     year  prcptot      Station
 0   1901    634.8  61700002641
 1   1902    493.1  61700002641
 2   1903    466.0  61700002641
 3   1904    535.2  61700002641
 4   1905    539.8  61700002641
 ..   ...      ...          ...
 94  1995    681.4  61700002641
 95  1996    536.2  61700002641
 96  1997    467.8  61700002641
 97  1998    712.8  61700002641
 98  1999    641.6  61700002641

 [99 rows x 3 columns],
      year  prcptot      Station
 0    1879    -99.9  LOCID000038
 1    1880    -99.9  LOCID000038
 2    1881    -99.9  LOCID000038
 3    1882    -99.9  LOCID000038
 4    1883    -99.9  LOCID000038
 ..    ...      ...          ...
 121  2000    617.8  LOCID000038
 122  2001    819.8  LOCID000038
 123  2002   1020.0  LOCID000038
 124  2003    576.0  LOCID000038
 125  2004    665.0  LOCID000038

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1879    -99.9  LOCID000039
 1    1880    -99.9  LOCID000039
 2    1881    -99.9  LOCID000039
 3    1882    -99.9  LOCID000039
 4    1883    -99.9  LOCID000039
 ..    ...      ...          ...
 121  2000    548.0  LOCID000039
 122  2001    631.0  LOCID000039
 123  2002    750.0  LOCID000039
 124  2003    418.0  LOCID000039
 125  2004    583.0  LOCID000039

 [126 rows x 3 columns],
     year  prcptot      Station
 0   1901    588.7  61700003038
 1   1902    605.9  61700003038
 2   1903    702.1  61700003038
 3   1904    469.7  61700003038
 4   1905    538.5  61700003038
 ..   ...      ...          ...
 94  1995    601.0  61700003038
 95  1996    419.1  61700003038
 96  1997    477.0  61700003038
 97  1998    801.0  61700003038
 98  1999    540.7  61700003038

 [99 rows x 3 columns],
      year  prcptot      Station
 0    1879   1088.0  61700010962
 1    1880   1243.0  61700010962
 2    1881    933.0  61700010962
 3    1882   1052.0  61700010962
 4    1883   1058.0  61700010962
 ..    ...      ...          ...
 116  1995   1227.0  61700010962
 117  1996   1087.0  61700010962
 118  1997    969.0  61700010962
 119  1998   1046.0  61700010962
 120  1999   1530.2  61700010962

 [121 rows x 3 columns],
      year  prcptot      Station
 0    1879    -99.9  LOCID000049
 1    1880    -99.9  LOCID000049
 2    1881    -99.9  LOCID000049
 3    1882    -99.9  LOCID000049
 4    1883    -99.9  LOCID000049
 ..    ...      ...          ...
 121  2000    690.0  LOCID000049
 122  2001    896.0  LOCID000049
 123  2002    901.0  LOCID000049
 124  2003    625.0  LOCID000049
 125  2004    818.0  LOCID000049

 [126 rows x 3 columns],
      year  prcptot      Station
 0    1879    834.5  LOCID000048
 1    1880   1147.1  LOCID000048
 2    1881    781.1  LOCID000048
 3    1882    953.2  LOCID000048
 4    1883    864.1  LOCID000048
 ..    ...      ...          ...
 121  2000   1024.0  LOCID000048
 122  2001    952.0  LOCID000048
 123  2002   1401.0  LOCID000048
 124  2003    790.0  LOCID000048
 125  2004    935.0  LOCID000048

 [126 rows x 3 columns],
     year  prcptot      Station
 0   1901    639.6  61700001474
 1   1902    616.1  61700001474
 2   1903    826.9  61700001474
 3   1904    462.6  61700001474
 4   1905    729.7  61700001474
 ..   ...      ...          ...
 94  1995    667.2  61700001474
 95  1996    421.7  61700001474
 96  1997    600.6  61700001474
 97  1998    870.3  61700001474
 98  1999    532.8  61700001474

 [99 rows x 3 columns],
      year  prcptot      Station
 0    1891    772.0  61700010147
 1    1892    542.0  61700010147
 2    1893    682.0  61700010147
 3    1894    795.0  61700010147
 4    1895    791.0  61700010147
 ..    ...      ...          ...
 104  1995    791.0  61700010147
 105  1996    492.0  61700010147
 106  1997    739.0  61700010147
 107  1998   1001.0  61700010147
 108  1999    638.2  61700010147

 [109 rows x 3 columns]]

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 3)
Shape of csv2: (126, 3)
Shape of csv3: (126, 3)
Shape of csv4: (135, 3)
Shape of csv5: (126, 3)
Shape of csv6: (135, 3)
Shape of csv7: (51, 3)
Shape of csv8: (126, 3)
Shape of csv9: (126, 3)
Shape of csv10: (126, 3)
Shape of csv11: (126, 3)
Shape of csv12: (99, 3)
Shape of csv13: (126, 3)
Shape of csv14: (126, 3)
Shape of csv15: (129, 3)
Shape of csv16: (126, 3)
Shape of csv17: (83, 3)
Shape of csv18: (99, 3)
Shape of csv19: (99, 3)
Shape of csv20: (93, 3)
Shape of csv21: (99, 3)
Shape of csv22: (91, 3)
Shape of csv23: (129, 3)
Shape of csv24: (126, 3)
Shape of csv25: (99, 3)
Shape of csv26: (99, 3)
Shape of csv27: (90, 3)
Shape of csv28: (99, 3)
Shape of csv29: (99, 3)
Shape of csv30: (99, 3)
Shape of csv31: (126, 3)
Shape of csv32: (126, 3)
Shape of csv33: (99, 3)
Shape of csv34: (121, 3)
Shape of csv35: (126, 3)
Shape of csv36: (126, 3)
Shape of csv37: (99, 3)
Shape of csv38: (109, 3)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):
    dfs = []

    for file_path in file_paths:
        df = pd.read_csv(file_path)
        dfs.append(df)

    merged_df_PRCPTOT = pd.concat(dfs, ignore_index=True)

    return merged_df_PRCPTOT

merged_df_PRCPTOT = pd.concat(dataframes, ignore_index=True)
merged_df_PRCPTOT

      year  prcptot      Station   prcptot
0     1901    748.4  61700004063       NaN
1     1902    571.2  61700004063       NaN
2     1903    532.1  61700004063       NaN
3     1904    515.5  61700004063       NaN
4     1905    624.5  61700004063       NaN
...    ...      ...          ...       ...
4239  1995    791.0  61700010147       NaN
4240  1996    492.0  61700010147       NaN
4241  1997    739.0  61700010147       NaN
4242  1998   1001.0  61700010147       NaN
4243  1999    638.2  61700010147       NaN

[4244 rows x 4 columns]

In [5]:
merged_df_PRCPTOT.head(30)

    year  prcptot      Station   prcptot
0   1901    748.4  61700004063       NaN
1   1902    571.2  61700004063       NaN
2   1903    532.1  61700004063       NaN
3   1904    515.5  61700004063       NaN
4   1905    624.5  61700004063       NaN
5   1906    667.2  61700004063       NaN
6   1907    480.4  61700004063       NaN
7   1908    600.7  61700004063       NaN
8   1909    656.7  61700004063       NaN
9   1910    724.2  61700004063       NaN
10  1911    365.6  61700004063       NaN
11  1912    572.1  61700004063       NaN
12  1913    634.0  61700004063       NaN
13  1914    672.6  61700004063       NaN
14  1915    643.1  61700004063       NaN
15  1916    -99.9  61700004063       NaN
16  1917    575.1  61700004063       NaN
17  1918    540.1  61700004063       NaN
18  1919    573.7  61700004063       NaN
19  1920    542.3  61700004063       NaN
20  1921    418.7  61700004063       NaN
21  1922    773.2  61700004063       NaN
22  1923    640.4  61700004063       NaN
23  1924    632.6  61700004063       NaN
24  1925    594.9  61700004063       NaN
25  1926    638.1  61700004063       NaN
26  1927    718.2  61700004063       NaN
27  1928    588.6  61700004063       NaN
28  1929    409.7  61700004063       NaN
29  1930    662.9  61700004063       NaN

In [6]:
merged_df_PRCPTOT.to_csv('PRCPTOT.csv', index=False)