In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/R99p'

dataframes = read_csv_files(csv_directory)
dataframes

[    year   r99p      Station
 0   1901  125.0  61700004063
 1   1902    0.0  61700004063
 2   1903    0.0  61700004063
 3   1904    0.0  61700004063
 4   1905    0.0  61700004063
 ..   ...    ...          ...
 94  1995  134.3  61700004063
 95  1996  121.6  61700004063
 96  1997    0.0  61700004063
 97  1998   27.3  61700004063
 98  1999   37.6  61700004063

 [99 rows x 3 columns],
      year   r99p      Station
 0    1879  -99.9  LOCID000043
 1    1880  -99.9  LOCID000043
 2    1881  -99.9  LOCID000043
 3    1882  -99.9  LOCID000043
 4    1883  -99.9  LOCID000043
 ..    ...    ...          ...
 121  2000   35.8  LOCID000043
 122  2001   30.6  LOCID000043
 123  2002  169.0  LOCID000043
 124  2003    0.0  LOCID000043
 125  2004    0.0  LOCID000043

 [126 rows x 3 columns],
      year   r99p      Station
 0    1879  -99.9  LOCID000042
 1    1880  -99.9  LOCID000042
 2    1881  -99.9  LOCID000042
 3    1882  -99.9  LOCID000042
 4    1883  -99.9  LOCID000042
 ..    ...    ...          ...
 121  2000   35.8  LOCID000042
 122  2001   30.6  LOCID000042
 123  2002  169.0  LOCID000042
 124  2003    0.0  LOCID000042
 125  2004    0.0  LOCID000042

 [126 rows x 3 columns],
      year   r99p      Station
 0    1870  122.5  LOCID000040
 1    1871  129.7  LOCID000040
 2    1872    0.0  LOCID000040
 3    1873   69.5  LOCID000040
 4    1874    0.0  LOCID000040
 ..    ...    ...          ...
 130  2000   44.0  LOCID000040
 131  2001   31.0  LOCID000040
 132  2002   45.0  LOCID000040
 133  2003    0.0  LOCID000040
 134  2004   38.0  LOCID000040

 [135 rows x 3 columns],
      year   r99p      Station
 0    1879  -99.9  LOCID000054
 1    1880  -99.9  LOCID000054
 2    1881  -99.9  LOCID000054
 3    1882  -99.9  LOCID000054
 4    1883  -99.9  LOCID000054
 ..    ...    ...          ...
 121  2000  144.3  LOCID000054
 122  2001  119.2  LOCID000054
 123  2002  -99.9  LOCID000054
 124  2003  -99.9  LOCID000054
 125  2004  -99.9  LOCID000054

 [126 rows x 3 columns],
      year   r99p      Station
 0    1870  -99.9  LOCID000041
 1    1871  -99.9  LOCID000041
 2    1872  -99.9  LOCID000041
 3    1873  -99.9  LOCID000041
 4    1874  -99.9  LOCID000041
 ..    ...    ...          ...
 130  2000    0.0  LOCID000041
 131  2001   57.0  LOCID000041
 132  2002  150.0  LOCID000041
 133  2003   34.0  LOCID000041
 134  2004   58.0  LOCID000041

 [135 rows x 3 columns],
     year   r99p      Station
 0   1912   67.7  61700003865
 1   1913   32.8  61700003865
 2   1914  143.9  61700003865
 3   1915   25.6  61700003865
 4   1916   26.6  61700003865
 5   1917    0.0  61700003865
 6   1918   36.8  61700003865
 7   1919    0.0  61700003865
 8   1920   26.8  61700003865
 9   1921   30.0  61700003865
 10  1922   38.1  61700003865
 11  1923   31.2  61700003865
 12  1924   32.0  61700003865
 13  1925    0.0  61700003865
 14  1926  138.0  61700003865
 15  1927  116.9  61700003865
 16  1928   30.9  61700003865
 17  1929   90.3  61700003865
 18  1930  139.5  61700003865
 19  1931  154.3  61700003865
 20  1932   34.0  61700003865
 21  1933   72.1  61700003865
 22  1934   71.6  61700003865
 23  1935   47.2  61700003865
 24  1936   34.6  61700003865
 25  1937  102.3  61700003865
 26  1938   59.8  61700003865
 27  1939  136.8  61700003865
 28  1940   33.6  61700003865
 29  1941  170.8  61700003865
 30  1942   57.9  61700003865
 31  1943    0.0  61700003865
 32  1944    0.0  61700003865
 33  1945  115.8  61700003865
 34  1946   89.9  61700003865
 35  1947    0.0  61700003865
 36  1948  130.9  61700003865
 37  1949   51.9  61700003865
 38  1950   58.1  61700003865
 39  1951   63.6  61700003865
 40  1952    0.0  61700003865
 41  1953   58.3  61700003865
 42  1954  111.9  61700003865
 43  1955   95.2  61700003865
 44  1956   28.9  61700003865
 45  1957    0.0  61700003865
 46  1958   54.9  61700003865
 47  1959    0.0  61700003865
 48  1960  124.2  61700003865
 49  1961   59.1  61700003865
 50  1962  -99.9  61700003865,
      year  r99p      Station
 0    1879 -99.9  LOCID000045
 1    1880 -99.9  LOCID000045
 2    1881 -99.9  LOCID000045
 3    1882 -99.9  LOCID000045
 4    1883 -99.9  LOCID000045
 ..    ...   ...          ...
 121  2000   0.0  LOCID000045
 122  2001  94.1  LOCID000045
 123  2002 -99.9  LOCID000045
 124  2003 -99.9  LOCID000045
 125  2004 -99.9  LOCID000045

 [126 rows x 3 columns],
      year   r99p      Station
 0    1879  -99.9  LOCID000051
 1    1880  -99.9  LOCID000051
 2    1881  -99.9  LOCID000051
 3    1882  -99.9  LOCID000051
 4    1883  -99.9  LOCID000051
 ..    ...    ...          ...
 121  2000  123.0  LOCID000051
 122  2001    0.0  LOCID000051
 123  2002   56.0  LOCID000051
 124  2003    0.0  LOCID000051
 125  2004    0.0  LOCID000051

 [126 rows x 3 columns],
      year   r99p      Station
 0    1879    0.0  LOCID000050
 1    1880   32.2  LOCID000050
 2    1881   25.9  LOCID000050
 3    1882   97.8  LOCID000050
 4    1883   26.2  LOCID000050
 ..    ...    ...          ...
 121  2000   57.2  LOCID000050
 122  2001   29.0  LOCID000050
 123  2002  166.0  LOCID000050
 124  2003    0.0  LOCID000050
 125  2004    0.0  LOCID000050

 [126 rows x 3 columns],
      year   r99p      Station
 0    1879    0.0  LOCID000044
 1    1880    0.0  LOCID000044
 2    1881   48.7  LOCID000044
 3    1882   50.8  LOCID000044
 4    1883    0.0  LOCID000044
 ..    ...    ...          ...
 121  2000  175.2  LOCID000044
 122  2001    0.0  LOCID000044
 123  2002  -99.9  LOCID000044
 124  2003  -99.9  LOCID000044
 125  2004  -99.9  LOCID000044

 [126 rows x 3 columns],
     year  r99p      Station
 0   1901   0.0  61700003319
 1   1902  99.7  61700003319
 2   1903   0.0  61700003319
 3   1904  41.4  61700003319
 4   1905  32.4  61700003319
 ..   ...   ...          ...
 94  1995  27.4  61700003319
 95  1996  87.4  61700003319
 96  1997  35.2  61700003319
 97  1998   0.0  61700003319
 98  1999   0.0  61700003319

 [99 rows x 3 columns],
      year   r99p      Station
 0    1879  -99.9  LOCID000052
 1    1880  -99.9  LOCID000052
 2    1881  -99.9  LOCID000052
 3    1882  -99.9  LOCID000052
 4    1883  -99.9  LOCID000052
 ..    ...    ...          ...
 121  2000    0.0  LOCID000052
 122  2001    0.0  LOCID000052
 123  2002  106.0  LOCID000052
 124  2003   39.0  LOCID000052
 125  2004    0.0  LOCID000052

 [126 rows x 3 columns],
      year  r99p      Station
 0    1879 -99.9  LOCID000046
 1    1880 -99.9  LOCID000046
 2    1881 -99.9  LOCID000046
 3    1882 -99.9  LOCID000046
 4    1883 -99.9  LOCID000046
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000046
 122  2001 -99.9  LOCID000046
 123  2002 -99.9  LOCID000046
 124  2003 -99.9  LOCID000046
 125  2004 -99.9  LOCID000046

 [126 rows x 3 columns],
      year   r99p      Station
 0    1876   50.7  LOCID000047
 1    1877  428.7  LOCID000047
 2    1878  174.1  LOCID000047
 3    1879  308.8  LOCID000047
 4    1880  246.9  LOCID000047
 ..    ...    ...          ...
 124  2000    0.0  LOCID000047
 125  2001   44.6  LOCID000047
 126  2002  -99.9  LOCID000047
 127  2003  -99.9  LOCID000047
 128  2004  -99.9  LOCID000047

 [129 rows x 3 columns],
      year  r99p      Station
 0    1879 -99.9  LOCID000053
 1    1880 -99.9  LOCID000053
 2    1881 -99.9  LOCID000053
 3    1882 -99.9  LOCID000053
 4    1883 -99.9  LOCID000053
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000053
 122  2001 -99.9  LOCID000053
 123  2002 -99.9  LOCID000053
 124  2003 -99.9  LOCID000053
 125  2004 -99.9  LOCID000053

 [126 rows x 3 columns],
     year   r99p      Station
 0   1917    0.0  61700003244
 1   1918  107.7  61700003244
 2   1919  115.9  61700003244
 3   1920    0.0  61700003244
 4   1921   86.4  61700003244
 ..   ...    ...          ...
 78  1995  148.7  61700003244
 79  1996   80.4  61700003244
 80  1997   64.6  61700003244
 81  1998   77.4  61700003244
 82  1999  157.0  61700003244

 [83 rows x 3 columns],
     year   r99p      Station
 0   1901   30.7  61700002698
 1   1902   43.2  61700002698
 2   1903   37.0  61700002698
 3   1904   47.2  61700002698
 4   1905    0.0  61700002698
 ..   ...    ...          ...
 94  1995   92.0  61700002698
 95  1996    0.0  61700002698
 96  1997  112.3  61700002698
 97  1998   31.2  61700002698
 98  1999   44.4  61700002698

 [99 rows x 3 columns],
     year  r99p      Station
 0   1901  37.9  61700002288
 1   1902   0.0  61700002288
 2   1903   0.0  61700002288
 3   1904  45.9  61700002288
 4   1905  36.1  61700002288
 ..   ...   ...          ...
 94  1995 -99.9  61700002288
 95  1996 -99.9  61700002288
 96  1997 -99.9  61700002288
 97  1998 -99.9  61700002288
 98  1999   0.0  61700002288

 [99 rows x 3 columns],
     year  r99p      Station
 0   1907 -99.9  61700002277
 1   1908  33.2  61700002277
 2   1909   0.0  61700002277
 3   1910  33.4  61700002277
 4   1911   0.0  61700002277
 ..   ...   ...          ...
 88  1995  97.6  61700002277
 89  1996 -99.9  61700002277
 90  1997   0.0  61700002277
 91  1998  70.4  61700002277
 92  1999 -99.9  61700002277

 [93 rows x 3 columns],
     year  r99p      Station
 0   1901  84.2  61700003342
 1   1902  70.6  61700003342
 2   1903  37.1  61700003342
 3   1904  48.9  61700003342
 4   1905  32.8  61700003342
 ..   ...   ...          ...
 94  1995  30.5  61700003342
 95  1996   0.0  61700003342
 96  1997  55.5  61700003342
 97  1998  32.3  61700003342
 98  1999   0.0  61700003342

 [99 rows x 3 columns],
     year   r99p      Station
 0   1901  115.8  61700001153
 1   1902    0.0  61700001153
 2   1903   60.5  61700001153
 3   1904   67.1  61700001153
 4   1905   62.8  61700001153
 ..   ...    ...          ...
 86  1987   51.6  61700001153
 87  1988   55.6  61700001153
 88  1989    0.0  61700001153
 89  1990  118.8  61700001153
 90  1991   54.2  61700001153

 [91 rows x 3 columns],
      year   r99p      Station
 0    1876    0.0  LOCID000037
 1    1877    0.0  LOCID000037
 2    1878    0.0  LOCID000037
 3    1879    0.0  LOCID000037
 4    1880   32.2  LOCID000037
 ..    ...    ...          ...
 124  2000   31.4  LOCID000037
 125  2001    0.0  LOCID000037
 126  2002  166.0  LOCID000037
 127  2003    0.0  LOCID000037
 128  2004    0.0  LOCID000037

 [129 rows x 3 columns],
      year   r99p      Station
 0    1879    0.0  LOCID000036
 1    1880    0.0  LOCID000036
 2    1881   28.1  LOCID000036
 3    1882   59.0  LOCID000036
 4    1883    0.0  LOCID000036
 ..    ...    ...          ...
 121  2000    0.0  LOCID000036
 122  2001    0.0  LOCID000036
 123  2002   27.0  LOCID000036
 124  2003   54.0  LOCID000036
 125  2004  133.0  LOCID000036

 [126 rows x 3 columns],
     year   r99p      Station
 0   1901   59.6  61700004204
 1   1902   30.5  61700004204
 2   1903   29.2  61700004204
 3   1904   27.6  61700004204
 4   1905   80.1  61700004204
 ..   ...    ...          ...
 94  1995  128.5  61700004204
 95  1996   63.8  61700004204
 96  1997  -99.9  61700004204
 97  1998    0.0  61700004204
 98  1999   44.3  61700004204

 [99 rows x 3 columns],
     year   r99p      Station
 0   1901   82.4  61700004199
 1   1902    0.0  61700004199
 2   1903  100.5  61700004199
 3   1904   46.0  61700004199
 4   1905   38.4  61700004199
 ..   ...    ...          ...
 94  1995  124.2  61700004199
 95  1996    0.0  61700004199
 96  1997   42.1  61700004199
 97  1998    0.0  61700004199
 98  1999  -99.9  61700004199

 [99 rows x 3 columns],
     year   r99p      Station
 0   1901    0.0  61700003218
 1   1902   34.8  61700003218
 2   1903    0.0  61700003218
 3   1904   30.7  61700003218
 4   1905  131.9  61700003218
 ..   ...    ...          ...
 85  1986   31.2  61700003218
 86  1987   65.3  61700003218
 87  1988    0.0  61700003218
 88  1989    0.0  61700003218
 89  1990  -99.9  61700003218

 [90 rows x 3 columns],
     year   r99p      Station
 0   1901  104.5  61700002716
 1   1902    0.0  61700002716
 2   1903   34.6  61700002716
 3   1904  118.9  61700002716
 4   1905    0.0  61700002716
 ..   ...    ...          ...
 94  1995   78.6  61700002716
 95  1996   44.1  61700002716
 96  1997   32.3  61700002716
 97  1998   50.8  61700002716
 98  1999    0.0  61700002716

 [99 rows x 3 columns],
     year   r99p      Station
 0   1901   55.0  61700004155
 1   1902    0.0  61700004155
 2   1903    0.0  61700004155
 3   1904   52.2  61700004155
 4   1905    0.0  61700004155
 ..   ...    ...          ...
 94  1995  293.8  61700004155
 95  1996  119.1  61700004155
 96  1997  127.1  61700004155
 97  1998  231.3  61700004155
 98  1999  186.6  61700004155

 [99 rows x 3 columns],
     year  r99p      Station
 0   1901  36.1  61700002641
 1   1902  39.9  61700002641
 2   1903   0.0  61700002641
 3   1904  73.9  61700002641
 4   1905   0.0  61700002641
 ..   ...   ...          ...
 94  1995   0.0  61700002641
 95  1996   0.0  61700002641
 96  1997   0.0  61700002641
 97  1998   0.0  61700002641
 98  1999  75.9  61700002641

 [99 rows x 3 columns],
      year   r99p      Station
 0    1879  -99.9  LOCID000038
 1    1880  -99.9  LOCID000038
 2    1881  -99.9  LOCID000038
 3    1882  -99.9  LOCID000038
 4    1883  -99.9  LOCID000038
 ..    ...    ...          ...
 121  2000    0.0  LOCID000038
 122  2001   69.3  LOCID000038
 123  2002  274.0  LOCID000038
 124  2003   31.0  LOCID000038
 125  2004   26.0  LOCID000038

 [126 rows x 3 columns],
      year   r99p      Station
 0    1879  -99.9  LOCID000039
 1    1880  -99.9  LOCID000039
 2    1881  -99.9  LOCID000039
 3    1882  -99.9  LOCID000039
 4    1883  -99.9  LOCID000039
 ..    ...    ...          ...
 121  2000    0.0  LOCID000039
 122  2001    0.0  LOCID000039
 123  2002  183.0  LOCID000039
 124  2003    0.0  LOCID000039
 125  2004    0.0  LOCID000039

 [126 rows x 3 columns],
     year  r99p      Station
 0   1901  40.9  61700003038
 1   1902   0.0  61700003038
 2   1903  27.1  61700003038
 3   1904   0.0  61700003038
 4   1905   0.0  61700003038
 ..   ...   ...          ...
 94  1995   0.0  61700003038
 95  1996  35.4  61700003038
 96  1997   0.0  61700003038
 97  1998  72.4  61700003038
 98  1999   0.0  61700003038

 [99 rows x 3 columns],
      year  r99p      Station
 0    1879    44  61700010962
 1    1880     0  61700010962
 2    1881    49  61700010962
 3    1882    51  61700010962
 4    1883    44  61700010962
 ..    ...   ...          ...
 116  1995     0  61700010962
 117  1996     0  61700010962
 118  1997     0  61700010962
 119  1998     0  61700010962
 120  1999   184  61700010962

 [121 rows x 3 columns],
      year   r99p      Station
 0    1879  -99.9  LOCID000049
 1    1880  -99.9  LOCID000049
 2    1881  -99.9  LOCID000049
 3    1882  -99.9  LOCID000049
 4    1883  -99.9  LOCID000049
 ..    ...    ...          ...
 121  2000   36.0  LOCID000049
 122  2001  227.0  LOCID000049
 123  2002   43.0  LOCID000049
 124  2003   65.0  LOCID000049
 125  2004   61.0  LOCID000049

 [126 rows x 3 columns],
      year   r99p      Station
 0    1879   45.0  LOCID000048
 1    1880   40.0  LOCID000048
 2    1881   92.0  LOCID000048
 3    1882    0.0  LOCID000048
 4    1883   40.1  LOCID000048
 ..    ...    ...          ...
 121  2000  160.0  LOCID000048
 122  2001    0.0  LOCID000048
 123  2002  438.0  LOCID000048
 124  2003  177.0  LOCID000048
 125  2004  199.0  LOCID000048

 [126 rows x 3 columns],
     year   r99p      Station
 0   1901   67.9  61700001474
 1   1902    0.0  61700001474
 2   1903   79.4  61700001474
 3   1904    0.0  61700001474
 4   1905   51.4  61700001474
 ..   ...    ...          ...
 94  1995   68.0  61700001474
 95  1996   31.3  61700001474
 96  1997   74.7  61700001474
 97  1998  105.2  61700001474
 98  1999    0.0  61700001474

 [99 rows x 3 columns],
      year  r99p      Station
 0    1891  26.0  61700010147
 1    1892   0.0  61700010147
 2    1893   0.0  61700010147
 3    1894  60.0  61700010147
 4    1895  63.0  61700010147
 ..    ...   ...          ...
 104  1995  70.0  61700010147
 105  1996  55.0  61700010147
 106  1997  81.0  61700010147
 107  1998  74.0  61700010147
 108  1999  26.7  61700010147

 [109 rows x 3 columns]]

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 3)
Shape of csv2: (126, 3)
Shape of csv3: (126, 3)
Shape of csv4: (135, 3)
Shape of csv5: (126, 3)
Shape of csv6: (135, 3)
Shape of csv7: (51, 3)
Shape of csv8: (126, 3)
Shape of csv9: (126, 3)
Shape of csv10: (126, 3)
Shape of csv11: (126, 3)
Shape of csv12: (99, 3)
Shape of csv13: (126, 3)
Shape of csv14: (126, 3)
Shape of csv15: (129, 3)
Shape of csv16: (126, 3)
Shape of csv17: (83, 3)
Shape of csv18: (99, 3)
Shape of csv19: (99, 3)
Shape of csv20: (93, 3)
Shape of csv21: (99, 3)
Shape of csv22: (91, 3)
Shape of csv23: (129, 3)
Shape of csv24: (126, 3)
Shape of csv25: (99, 3)
Shape of csv26: (99, 3)
Shape of csv27: (90, 3)
Shape of csv28: (99, 3)
Shape of csv29: (99, 3)
Shape of csv30: (99, 3)
Shape of csv31: (126, 3)
Shape of csv32: (126, 3)
Shape of csv33: (99, 3)
Shape of csv34: (121, 3)
Shape of csv35: (126, 3)
Shape of csv36: (126, 3)
Shape of csv37: (99, 3)
Shape of csv38: (109, 3)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):
    dfs = []

    for file_path in file_paths:
        df = pd.read_csv(file_path)
        dfs.append(df)

    merged_df_R99p = pd.concat(dfs, ignore_index=True)

    return merged_df_R99p

merged_df_R99p = pd.concat(dataframes, ignore_index=True)
merged_df_R99p

      year   r99p      Station
0     1901  125.0  61700004063
1     1902    0.0  61700004063
2     1903    0.0  61700004063
3     1904    0.0  61700004063
4     1905    0.0  61700004063
...    ...    ...          ...
4239  1995   70.0  61700010147
4240  1996   55.0  61700010147
4241  1997   81.0  61700010147
4242  1998   74.0  61700010147
4243  1999   26.7  61700010147

[4244 rows x 3 columns]

In [5]:
merged_df_R99p.head(30)

    year   r99p      Station
0   1901  125.0  61700004063
1   1902    0.0  61700004063
2   1903    0.0  61700004063
3   1904    0.0  61700004063
4   1905    0.0  61700004063
5   1906   77.9  61700004063
6   1907    0.0  61700004063
7   1908  106.2  61700004063
8   1909   32.3  61700004063
9   1910   82.8  61700004063
10  1911    0.0  61700004063
11  1912    0.0  61700004063
12  1913   60.4  61700004063
13  1914   39.7  61700004063
14  1915    0.0  61700004063
15  1916  -99.9  61700004063
16  1917    0.0  61700004063
17  1918    0.0  61700004063
18  1919   28.2  61700004063
19  1920   28.9  61700004063
20  1921    0.0  61700004063
21  1922   55.3  61700004063
22  1923   30.4  61700004063
23  1924   33.4  61700004063
24  1925    0.0  61700004063
25  1926   38.0  61700004063
26  1927  149.4  61700004063
27  1928   27.0  61700004063
28  1929    0.0  61700004063
29  1930   33.4  61700004063

In [6]:
merged_df_R99p.to_csv('R99p.csv', index=False)