In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/FD'

dataframes = read_csv_files(csv_directory)
dataframes

[    year   FD      Station
 0   1901  106  61700004063
 1   1902   99  61700004063
 2   1903   97  61700004063
 3   1904  101  61700004063
 4   1905  103  61700004063
 ..   ...  ...          ...
 94  1995   95  61700004063
 95  1996  118  61700004063
 96  1997   98  61700004063
 97  1998   97  61700004063
 98  1999   85  61700004063

 [99 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000043
 1    1880 -99.9  LOCID000043
 2    1881 -99.9  LOCID000043
 3    1882 -99.9  LOCID000043
 4    1883 -99.9  LOCID000043
 ..    ...   ...          ...
 121  2000  39.0  LOCID000043
 122  2001  84.0  LOCID000043
 123  2002  63.0  LOCID000043
 124  2003  88.0  LOCID000043
 125  2004  66.0  LOCID000043

 [126 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000042
 1    1880 -99.9  LOCID000042
 2    1881 -99.9  LOCID000042
 3    1882 -99.9  LOCID000042
 4    1883 -99.9  LOCID000042
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000042
 122  2001 -99.9  LOCID000042
 123  2002 -99.9  LOCID000042
 124  2003 -99.9  LOCID000042
 125  2004 -99.9  LOCID000042

 [126 rows x 3 columns],
      year     FD      Station
 0    1870   86.0  LOCID000040
 1    1871  109.0  LOCID000040
 2    1872   52.0  LOCID000040
 3    1873   55.0  LOCID000040
 4    1874   76.0  LOCID000040
 ..    ...    ...          ...
 130  2000   40.0  LOCID000040
 131  2001   64.0  LOCID000040
 132  2002   43.0  LOCID000040
 133  2003   76.0  LOCID000040
 134  2004   66.0  LOCID000040

 [135 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000054
 1    1880 -99.9  LOCID000054
 2    1881 -99.9  LOCID000054
 3    1882 -99.9  LOCID000054
 4    1883 -99.9  LOCID000054
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000054
 122  2001 -99.9  LOCID000054
 123  2002 -99.9  LOCID000054
 124  2003 -99.9  LOCID000054
 125  2004 -99.9  LOCID000054

 [126 rows x 3 columns],
      year     FD      Station
 0    1870  -99.9  LOCID000041
 1    1871  -99.9  LOCID000041
 2    1872  -99.9  LOCID000041
 3    1873  -99.9  LOCID000041
 4    1874  -99.9  LOCID000041
 ..    ...    ...          ...
 130  2000   44.0  LOCID000041
 131  2001   79.0  LOCID000041
 132  2002   72.0  LOCID000041
 133  2003  102.0  LOCID000041
 134  2004   82.0  LOCID000041

 [135 rows x 3 columns],
     year     FD      Station
 0   1912   67.0  61700003865
 1   1913   65.0  61700003865
 2   1914   56.0  61700003865
 3   1915   99.0  61700003865
 4   1916   76.0  61700003865
 5   1917  115.0  61700003865
 6   1918   74.0  61700003865
 7   1919  110.0  61700003865
 8   1920   85.0  61700003865
 9   1921   72.0  61700003865
 10  1922   96.0  61700003865
 11  1923   83.0  61700003865
 12  1924  113.0  61700003865
 13  1925   77.0  61700003865
 14  1926   61.0  61700003865
 15  1927   78.0  61700003865
 16  1928   94.0  61700003865
 17  1929  101.0  61700003865
 18  1930   84.0  61700003865
 19  1931  106.0  61700003865
 20  1932   87.0  61700003865
 21  1933   87.0  61700003865
 22  1934   42.0  61700003865
 23  1935   71.0  61700003865
 24  1936   79.0  61700003865
 25  1937   96.0  61700003865
 26  1938   54.0  61700003865
 27  1939   75.0  61700003865
 28  1940  119.0  61700003865
 29  1941  117.0  61700003865
 30  1942  112.0  61700003865
 31  1943   76.0  61700003865
 32  1944   78.0  61700003865
 33  1945   67.0  61700003865
 34  1946   84.0  61700003865
 35  1947   97.0  61700003865
 36  1948   74.0  61700003865
 37  1949   59.0  61700003865
 38  1950   81.0  61700003865
 39  1951   73.0  61700003865
 40  1952  101.0  61700003865
 41  1953   67.0  61700003865
 42  1954   89.0  61700003865
 43  1955  113.0  61700003865
 44  1956   94.0  61700003865
 45  1957   66.0  61700003865
 46  1958   93.0  61700003865
 47  1959   72.0  61700003865
 48  1960   77.0  61700003865
 49  1961   71.0  61700003865
 50  1962  -99.9  61700003865,
      year    FD      Station
 0    1879 -99.9  LOCID000045
 1    1880 -99.9  LOCID000045
 2    1881 -99.9  LOCID000045
 3    1882 -99.9  LOCID000045
 4    1883 -99.9  LOCID000045
 ..    ...   ...          ...
 121  2000  41.0  LOCID000045
 122  2001  67.0  LOCID000045
 123  2002 -99.9  LOCID000045
 124  2003 -99.9  LOCID000045
 125  2004 -99.9  LOCID000045

 [126 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000051
 1    1880 -99.9  LOCID000051
 2    1881 -99.9  LOCID000051
 3    1882 -99.9  LOCID000051
 4    1883 -99.9  LOCID000051
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000051
 122  2001 -99.9  LOCID000051
 123  2002 -99.9  LOCID000051
 124  2003 -99.9  LOCID000051
 125  2004 -99.9  LOCID000051

 [126 rows x 3 columns],
      year   FD      Station
 0    1879  110  LOCID000050
 1    1880   76  LOCID000050
 2    1881  111  LOCID000050
 3    1882   71  LOCID000050
 4    1883  108  LOCID000050
 ..    ...  ...          ...
 121  2000   52  LOCID000050
 122  2001   93  LOCID000050
 123  2002   67  LOCID000050
 124  2003   93  LOCID000050
 125  2004   77  LOCID000050

 [126 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000044
 1    1880 -99.9  LOCID000044
 2    1881 -99.9  LOCID000044
 3    1882 -99.9  LOCID000044
 4    1883 -99.9  LOCID000044
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000044
 122  2001 -99.9  LOCID000044
 123  2002 -99.9  LOCID000044
 124  2003 -99.9  LOCID000044
 125  2004 -99.9  LOCID000044

 [126 rows x 3 columns],
     year     FD      Station
 0   1901   92.0  61700003319
 1   1902   88.0  61700003319
 2   1903   55.0  61700003319
 3   1904   55.0  61700003319
 4   1905   59.0  61700003319
 ..   ...    ...          ...
 94  1995   92.0  61700003319
 95  1996  123.0  61700003319
 96  1997   87.0  61700003319
 97  1998   63.0  61700003319
 98  1999   75.0  61700003319

 [99 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000052
 1    1880 -99.9  LOCID000052
 2    1881 -99.9  LOCID000052
 3    1882 -99.9  LOCID000052
 4    1883 -99.9  LOCID000052
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000052
 122  2001 -99.9  LOCID000052
 123  2002 -99.9  LOCID000052
 124  2003 -99.9  LOCID000052
 125  2004 -99.9  LOCID000052

 [126 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000046
 1    1880 -99.9  LOCID000046
 2    1881 -99.9  LOCID000046
 3    1882 -99.9  LOCID000046
 4    1883 -99.9  LOCID000046
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000046
 122  2001 -99.9  LOCID000046
 123  2002 -99.9  LOCID000046
 124  2003 -99.9  LOCID000046
 125  2004 -99.9  LOCID000046

 [126 rows x 3 columns],
      year    FD      Station
 0    1876 -99.9  LOCID000047
 1    1877 -99.9  LOCID000047
 2    1878 -99.9  LOCID000047
 3    1879 -99.9  LOCID000047
 4    1880 -99.9  LOCID000047
 ..    ...   ...          ...
 124  2000 -99.9  LOCID000047
 125  2001 -99.9  LOCID000047
 126  2002 -99.9  LOCID000047
 127  2003 -99.9  LOCID000047
 128  2004 -99.9  LOCID000047

 [129 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000053
 1    1880 -99.9  LOCID000053
 2    1881 -99.9  LOCID000053
 3    1882 -99.9  LOCID000053
 4    1883 -99.9  LOCID000053
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000053
 122  2001 -99.9  LOCID000053
 123  2002 -99.9  LOCID000053
 124  2003 -99.9  LOCID000053
 125  2004 -99.9  LOCID000053

 [126 rows x 3 columns],
     year   FD      Station
 0   1917  126  61700003244
 1   1918   83  61700003244
 2   1919  108  61700003244
 3   1920   94  61700003244
 4   1921   74  61700003244
 ..   ...  ...          ...
 78  1995   94  61700003244
 79  1996  124  61700003244
 80  1997   90  61700003244
 81  1998   66  61700003244
 82  1999   76  61700003244

 [83 rows x 3 columns],
     year    FD      Station
 0   1901  85.0  61700002698
 1   1902  66.0  61700002698
 2   1903  54.0  61700002698
 3   1904  65.0  61700002698
 4   1905  62.0  61700002698
 ..   ...   ...          ...
 94  1995  53.0  61700002698
 95  1996  88.0  61700002698
 96  1997  58.0  61700002698
 97  1998  63.0  61700002698
 98  1999  51.0  61700002698

 [99 rows x 3 columns],
     year    FD      Station
 0   1901  91.0  61700002288
 1   1902  85.0  61700002288
 2   1903  77.0  61700002288
 3   1904  79.0  61700002288
 4   1905  84.0  61700002288
 ..   ...   ...          ...
 94  1995 -99.9  61700002288
 95  1996 -99.9  61700002288
 96  1997 -99.9  61700002288
 97  1998 -99.9  61700002288
 98  1999  77.0  61700002288

 [99 rows x 3 columns],
     year     FD      Station
 0   1907  -99.9  61700002277
 1   1908   99.0  61700002277
 2   1909  102.0  61700002277
 3   1910   67.0  61700002277
 4   1911   65.0  61700002277
 ..   ...    ...          ...
 88  1995   53.0  61700002277
 89  1996  -99.9  61700002277
 90  1997   59.0  61700002277
 91  1998   51.0  61700002277
 92  1999  -99.9  61700002277

 [93 rows x 3 columns],
     year   FD      Station
 0   1901  108  61700003342
 1   1902  102  61700003342
 2   1903   82  61700003342
 3   1904   87  61700003342
 4   1905   94  61700003342
 ..   ...  ...          ...
 94  1995   97  61700003342
 95  1996  134  61700003342
 96  1997   97  61700003342
 97  1998   67  61700003342
 98  1999   76  61700003342

 [99 rows x 3 columns],
     year    FD      Station
 0   1901  83.0  61700001153
 1   1902  81.0  61700001153
 2   1903  62.0  61700001153
 3   1904  63.0  61700001153
 4   1905  68.0  61700001153
 ..   ...   ...          ...
 86  1987  80.0  61700001153
 87  1988  37.0  61700001153
 88  1989  49.0  61700001153
 89  1990  31.0  61700001153
 90  1991  65.0  61700001153

 [91 rows x 3 columns],
      year   FD      Station
 0    1876   72  LOCID000037
 1    1877   48  LOCID000037
 2    1878   53  LOCID000037
 3    1879  110  LOCID000037
 4    1880   76  LOCID000037
 ..    ...  ...          ...
 124  2000   52  LOCID000037
 125  2001  100  LOCID000037
 126  2002   67  LOCID000037
 127  2003   93  LOCID000037
 128  2004   73  LOCID000037

 [129 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000036
 1    1880 -99.9  LOCID000036
 2    1881 -99.9  LOCID000036
 3    1882 -99.9  LOCID000036
 4    1883 -99.9  LOCID000036
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000036
 122  2001 -99.9  LOCID000036
 123  2002 -99.9  LOCID000036
 124  2003 -99.9  LOCID000036
 125  2004 -99.9  LOCID000036

 [126 rows x 3 columns],
     year     FD      Station
 0   1901  108.0  61700004204
 1   1902  110.0  61700004204
 2   1903   72.0  61700004204
 3   1904   92.0  61700004204
 4   1905   88.0  61700004204
 ..   ...    ...          ...
 94  1995   73.0  61700004204
 95  1996  101.0  61700004204
 96  1997  -99.9  61700004204
 97  1998   65.0  61700004204
 98  1999   52.0  61700004204

 [99 rows x 3 columns],
     year     FD      Station
 0   1901  117.0  61700004199
 1   1902  100.0  61700004199
 2   1903  111.0  61700004199
 3   1904  109.0  61700004199
 4   1905  110.0  61700004199
 ..   ...    ...          ...
 94  1995  101.0  61700004199
 95  1996  126.0  61700004199
 96  1997   92.0  61700004199
 97  1998   85.0  61700004199
 98  1999  -99.9  61700004199

 [99 rows x 3 columns],
     year  FD      Station
 0   1901  93  61700003218
 1   1902  81  61700003218
 2   1903  48  61700003218
 3   1904  60  61700003218
 4   1905  73  61700003218
 ..   ...  ..          ...
 85  1986  74  61700003218
 86  1987  88  61700003218
 87  1988  58  61700003218
 88  1989  55  61700003218
 89  1990  46  61700003218

 [90 rows x 3 columns],
     year     FD      Station
 0   1901   99.0  61700002716
 1   1902   84.0  61700002716
 2   1903   77.0  61700002716
 3   1904   85.0  61700002716
 4   1905   84.0  61700002716
 ..   ...    ...          ...
 94  1995   83.0  61700002716
 95  1996  117.0  61700002716
 96  1997   86.0  61700002716
 97  1998   92.0  61700002716
 98  1999   76.0  61700002716

 [99 rows x 3 columns],
     year     FD      Station
 0   1901  303.0  61700004155
 1   1902  321.0  61700004155
 2   1903  331.0  61700004155
 3   1904  335.0  61700004155
 4   1905  305.0  61700004155
 ..   ...    ...          ...
 94  1995  295.0  61700004155
 95  1996  322.0  61700004155
 96  1997  295.0  61700004155
 97  1998  301.0  61700004155
 98  1999  290.0  61700004155

 [99 rows x 3 columns],
     year    FD      Station
 0   1901  78.0  61700002641
 1   1902  62.0  61700002641
 2   1903  47.0  61700002641
 3   1904  56.0  61700002641
 4   1905  50.0  61700002641
 ..   ...   ...          ...
 94  1995  45.0  61700002641
 95  1996  71.0  61700002641
 96  1997  45.0  61700002641
 97  1998  54.0  61700002641
 98  1999  37.0  61700002641

 [99 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000038
 1    1880 -99.9  LOCID000038
 2    1881 -99.9  LOCID000038
 3    1882 -99.9  LOCID000038
 4    1883 -99.9  LOCID000038
 ..    ...   ...          ...
 121  2000  35.0  LOCID000038
 122  2001  79.0  LOCID000038
 123  2002  53.0  LOCID000038
 124  2003  90.0  LOCID000038
 125  2004  59.0  LOCID000038

 [126 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000039
 1    1880 -99.9  LOCID000039
 2    1881 -99.9  LOCID000039
 3    1882 -99.9  LOCID000039
 4    1883 -99.9  LOCID000039
 ..    ...   ...          ...
 121  2000  52.0  LOCID000039
 122  2001  91.0  LOCID000039
 123  2002  77.0  LOCID000039
 124  2003  95.0  LOCID000039
 125  2004  82.0  LOCID000039

 [126 rows x 3 columns],
     year     FD      Station
 0   1901   98.0  61700003038
 1   1902   93.0  61700003038
 2   1903   64.0  61700003038
 3   1904   75.0  61700003038
 4   1905   81.0  61700003038
 ..   ...    ...          ...
 94  1995   85.0  61700003038
 95  1996  120.0  61700003038
 96  1997   82.0  61700003038
 97  1998   59.0  61700003038
 98  1999   58.0  61700003038

 [99 rows x 3 columns],
      year   FD      Station
 0    1879  165  61700010962
 1    1880  128  61700010962
 2    1881  139  61700010962
 3    1882  116  61700010962
 4    1883  156  61700010962
 ..    ...  ...          ...
 116  1995  120  61700010962
 117  1996  122  61700010962
 118  1997  106  61700010962
 119  1998   97  61700010962
 120  1999  107  61700010962

 [121 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000049
 1    1880 -99.9  LOCID000049
 2    1881 -99.9  LOCID000049
 3    1882 -99.9  LOCID000049
 4    1883 -99.9  LOCID000049
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000049
 122  2001 -99.9  LOCID000049
 123  2002 -99.9  LOCID000049
 124  2003 -99.9  LOCID000049
 125  2004 -99.9  LOCID000049

 [126 rows x 3 columns],
      year    FD      Station
 0    1879 -99.9  LOCID000048
 1    1880 -99.9  LOCID000048
 2    1881 -99.9  LOCID000048
 3    1882 -99.9  LOCID000048
 4    1883 -99.9  LOCID000048
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000048
 122  2001 -99.9  LOCID000048
 123  2002 -99.9  LOCID000048
 124  2003 -99.9  LOCID000048
 125  2004 -99.9  LOCID000048

 [126 rows x 3 columns],
     year     FD      Station
 0   1901   89.0  61700001474
 1   1902   80.0  61700001474
 2   1903   48.0  61700001474
 3   1904   47.0  61700001474
 4   1905   67.0  61700001474
 ..   ...    ...          ...
 94  1995   87.0  61700001474
 95  1996  104.0  61700001474
 96  1997   69.0  61700001474
 97  1998   58.0  61700001474
 98  1999   50.0  61700001474

 [99 rows x 3 columns],
      year   FD      Station
 0    1891   73  61700010147
 1    1892   93  61700010147
 2    1893   65  61700010147
 3    1894   45  61700010147
 4    1895   96  61700010147
 ..    ...  ...          ...
 104  1995   80  61700010147
 105  1996  114  61700010147
 106  1997   79  61700010147
 107  1998   57  61700010147
 108  1999   56  61700010147

 [109 rows x 3 columns]]

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 3)
Shape of csv2: (126, 3)
Shape of csv3: (126, 3)
Shape of csv4: (135, 3)
Shape of csv5: (126, 3)
Shape of csv6: (135, 3)
Shape of csv7: (51, 3)
Shape of csv8: (126, 3)
Shape of csv9: (126, 3)
Shape of csv10: (126, 3)
Shape of csv11: (126, 3)
Shape of csv12: (99, 3)
Shape of csv13: (126, 3)
Shape of csv14: (126, 3)
Shape of csv15: (129, 3)
Shape of csv16: (126, 3)
Shape of csv17: (83, 3)
Shape of csv18: (99, 3)
Shape of csv19: (99, 3)
Shape of csv20: (93, 3)
Shape of csv21: (99, 3)
Shape of csv22: (91, 3)
Shape of csv23: (129, 3)
Shape of csv24: (126, 3)
Shape of csv25: (99, 3)
Shape of csv26: (99, 3)
Shape of csv27: (90, 3)
Shape of csv28: (99, 3)
Shape of csv29: (99, 3)
Shape of csv30: (99, 3)
Shape of csv31: (126, 3)
Shape of csv32: (126, 3)
Shape of csv33: (99, 3)
Shape of csv34: (121, 3)
Shape of csv35: (126, 3)
Shape of csv36: (126, 3)
Shape of csv37: (99, 3)
Shape of csv38: (109, 3)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):

    dfs = []

    for file_path in file_paths:
        df = pd.read_csv(file_path)
        dfs.append(df)

    merged_df_FD = pd.concat(dfs, ignore_index=True)

    return merged_df_FD


merged_df_TXx = pd.concat(dataframes, ignore_index=True)
merged_df_TXx

      year     FD      Station
0     1901  106.0  61700004063
1     1902   99.0  61700004063
2     1903   97.0  61700004063
3     1904  101.0  61700004063
4     1905  103.0  61700004063
...    ...    ...          ...
4239  1995   80.0  61700010147
4240  1996  114.0  61700010147
4241  1997   79.0  61700010147
4242  1998   57.0  61700010147
4243  1999   56.0  61700010147

[4244 rows x 3 columns]

In [5]:
merged_df_TXx.head(30)

    year     FD      Station
0   1901  106.0  61700004063
1   1902   99.0  61700004063
2   1903   97.0  61700004063
3   1904  101.0  61700004063
4   1905  103.0  61700004063
5   1906  104.0  61700004063
6   1907   97.0  61700004063
7   1908  127.0  61700004063
8   1909  114.0  61700004063
9   1910   99.0  61700004063
10  1911   98.0  61700004063
11  1912   93.0  61700004063
12  1913   81.0  61700004063
13  1914   89.0  61700004063
14  1915  109.0  61700004063
15  1916   78.0  61700004063
16  1917  121.0  61700004063
17  1918   86.0  61700004063
18  1919  100.0  61700004063
19  1920  106.0  61700004063
20  1921  106.0  61700004063
21  1922  128.0  61700004063
22  1923  105.0  61700004063
23  1924  133.0  61700004063
24  1925  105.0  61700004063
25  1926   85.0  61700004063
26  1927  107.0  61700004063
27  1928   98.0  61700004063
28  1929  112.0  61700004063
29  1930   98.0  61700004063

In [6]:
merged_df_TXx.to_csv('merged_df_TXx.csv', index=False)