In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/TX10p'

dataframes = read_csv_files(csv_directory)
dataframes

[    year    jan    feb    mar    apr    may    jun   jul    aug    sep    oct  \
 0   1901  16.13  32.14  32.26   3.33   0.00   6.67  0.00   6.45  16.67  12.90
 1   1902   0.00   0.00   3.23   0.00  32.26   6.67  3.23  12.90   3.33  19.35
 2   1903   0.00   0.00   0.00  20.00   3.23   3.33  3.23  12.90  13.33   0.00
 3   1904   6.45  17.24   6.45   0.00   0.00   0.00  0.00   3.23   6.67   6.45
 4   1905   9.68   0.00   0.00  13.33   3.23   0.00  0.00   0.00  16.67  77.42
 ..   ...    ...    ...    ...    ...    ...    ...   ...    ...    ...    ...
 94  1995   6.45   0.00   6.45   0.00   9.68  10.00  0.00   6.45  10.00   3.23
 95  1996   6.45  20.69  16.13  16.67  12.90  13.33  6.45   6.45  33.33   3.23
 96  1997   6.45   3.57   0.00   0.00   6.45  13.33  0.00   3.23   0.00  16.13
 97  1998   3.23   3.57   3.23   3.33   3.23   3.33  9.68   6.45  13.33  12.90
 98  1999   0.00   3.57   3.23   3.33   0.00   6.67  3.23   0.00   0.00   9.68

       nov    dec  annual      Station
 0    3.33   0.00   10.68  61700004063
 1   16.67  25.81   10.41  61700004063
 2    0.00   9.68    5.48  61700004063
 3    6.67   0.00    4.38  61700004063
 4    0.00   0.00   10.14  61700004063
 ..    ...    ...     ...          ...
 94  20.00   3.23    6.30  61700004063
 95   0.00  16.13   12.60  61700004063
 96   0.00   0.00    4.11  61700004063
 97  20.00   9.68    7.67  61700004063
 98   6.67   0.00    3.01  61700004063

 [99 rows x 15 columns],
      year    jan    feb   mar    apr    may    jun    jul    aug    sep  \
 0    1879 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 1    1880 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 2    1881 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 3    1882 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 4    1883 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 ..    ...    ...    ...   ...    ...    ...    ...    ...    ...    ...
 121  2000   3.23   0.00   0.0   0.00   0.00  26.67  19.35   0.00  13.33
 122  2001   0.00  10.71  12.9  20.00   0.00   6.67   3.23   6.45  23.33
 123  2002   0.00   0.00   0.0   6.67   3.23   0.00   0.00   0.00   3.33
 124  2003   6.45   0.00   0.0  13.33   3.23   3.33   0.00   3.23   0.00
 125  2004   9.68   0.00   0.0   0.00   3.23   3.33   9.68   3.23  10.00

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000043
 1   -99.90 -99.90 -99.90  -99.90  LOCID000043
 2   -99.90 -99.90 -99.90  -99.90  LOCID000043
 3   -99.90 -99.90 -99.90  -99.90  LOCID000043
 4   -99.90 -99.90 -99.90  -99.90  LOCID000043
 ..     ...    ...    ...     ...          ...
 121   6.45   0.00   0.00    5.75  LOCID000043
 122   0.00   3.33   3.23    7.40  LOCID000043
 123  22.58  20.00  16.13    6.03  LOCID000043
 124  29.03   0.00   0.00    4.93  LOCID000043
 125   3.23   0.00   0.00    3.56  LOCID000043

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000042
 1   -99.9   -99.9  LOCID000042
 2   -99.9   -99.9  LOCID000042
 3   -99.9   -99.9  LOCID000042
 4   -99.9   -99.9  LOCID000042
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000042
 122 -99.9   -99.9  LOCID000042
 123 -99.9   -99.9  LOCID000042
 124 -99.9   -99.9  LOCID000042
 125 -99.9   -99.9  LOCID000042

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1870  12.90  42.86  35.48   3.33   0.00   6.67   0.00  25.81  13.33
 1    1871  38.71  10.71  12.90   6.67  12.90  40.00   9.68   6.45   6.67
 2    1872   3.23   3.45  12.90   3.33   6.45   0.00   0.00   3.23  13.33
 3    1873   0.00   7.14   3.23  23.33  19.35   3.33   0.00   3.23   6.67
 4    1874   0.00  10.71   6.45   3.33  19.35   0.00   0.00   0.00   0.00
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 130  2000   6.45   0.00   0.00   0.00   3.23   0.00  16.13   0.00  16.67
 131  2001   0.00   0.00   9.68  17.24   9.68  10.00   0.00   6.67  43.33
 132  2002  10.34   0.00   0.00   0.00   9.68   0.00   0.00   3.23  10.00
 133  2003   3.57   0.00   0.00   6.67   0.00   0.00   0.00   0.00   0.00
 134  2004   0.00   0.00  10.00   0.00  12.90   0.00   6.45   3.23   3.45

        oct    nov    dec  annual      Station
 0     0.00   6.67  67.74   17.81  LOCID000040
 1    29.03  13.33  51.61   20.00  LOCID000040
 2     9.68  10.00   0.00    5.48  LOCID000040
 3     3.23   6.67   0.00    6.30  LOCID000040
 4     9.68  36.67  19.35    8.77  LOCID000040
 ..     ...    ...    ...     ...          ...
 130   0.00   0.00   3.23    3.84  LOCID000040
 131   0.00   0.00   3.33    8.22  LOCID000040
 132   9.68   0.00  12.90    4.66  LOCID000040
 133  30.00   0.00   0.00    3.29  LOCID000040
 134   0.00   3.33  16.13    4.66  LOCID000040

 [135 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000054
 1   -99.9   -99.9  LOCID000054
 2   -99.9   -99.9  LOCID000054
 3   -99.9   -99.9  LOCID000054
 4   -99.9   -99.9  LOCID000054
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000054
 122 -99.9   -99.9  LOCID000054
 123 -99.9   -99.9  LOCID000054
 124 -99.9   -99.9  LOCID000054
 125 -99.9   -99.9  LOCID000054

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul   aug    sep  \
 0    1870 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90
 1    1871 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90
 2    1872 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90
 3    1873 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90
 4    1874 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90
 ..    ...    ...    ...    ...    ...    ...    ...    ...   ...    ...
 130  2000   6.45   0.00   0.00   0.00   0.00  13.33  12.90   0.0  16.67
 131  2001   0.00  10.71  12.90  20.00   6.45  16.67   6.45   0.0  23.33
 132  2002   0.00   0.00  12.90  10.00   3.23   3.33   6.45   0.0  13.33
 133  2003   6.45   3.57   0.00  16.67   0.00   0.00   0.00   0.0   6.67
 134  2004   9.68   0.00   6.45   3.33  22.58   3.33   9.68   0.0   3.33

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000041
 1   -99.90 -99.90 -99.90  -99.90  LOCID000041
 2   -99.90 -99.90 -99.90  -99.90  LOCID000041
 3   -99.90 -99.90 -99.90  -99.90  LOCID000041
 4   -99.90 -99.90 -99.90  -99.90  LOCID000041
 ..     ...    ...    ...     ...          ...
 130   3.23   0.00   0.00    4.38  LOCID000041
 131   0.00   0.00   3.23    8.22  LOCID000041
 132  16.13  13.33  25.81    8.77  LOCID000041
 133  45.16   3.33   0.00    6.85  LOCID000041
 134   0.00   6.67   0.00    5.48  LOCID000041

 [135 rows x 15 columns],
     year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0   1912 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1   1913 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2   1914 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3   1915 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4   1916 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 5   1917 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 6   1918 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 7   1919 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 8   1920 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 9   1921 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 10  1922 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 11  1923 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 12  1924 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 13  1925 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 14  1926 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 15  1927 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 16  1928 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 17  1929 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 18  1930 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 19  1931 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 20  1932 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 21  1933 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 22  1934 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 23  1935 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 24  1936 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 25  1937 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 26  1938 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 27  1939 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 28  1940 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 29  1941 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 30  1942 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 31  1943 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 32  1944 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 33  1945 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 34  1946 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 35  1947 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 36  1948 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 37  1949 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 38  1950 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 39  1951 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 40  1952 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 41  1953 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 42  1954 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 43  1955 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 44  1956 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 45  1957 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 46  1958 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 47  1959 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 48  1960 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 49  1961 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 50  1962 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

      dec  annual      Station
 0  -99.9   -99.9  61700003865
 1  -99.9   -99.9  61700003865
 2  -99.9   -99.9  61700003865
 3  -99.9   -99.9  61700003865
 4  -99.9   -99.9  61700003865
 5  -99.9   -99.9  61700003865
 6  -99.9   -99.9  61700003865
 7  -99.9   -99.9  61700003865
 8  -99.9   -99.9  61700003865
 9  -99.9   -99.9  61700003865
 10 -99.9   -99.9  61700003865
 11 -99.9   -99.9  61700003865
 12 -99.9   -99.9  61700003865
 13 -99.9   -99.9  61700003865
 14 -99.9   -99.9  61700003865
 15 -99.9   -99.9  61700003865
 16 -99.9   -99.9  61700003865
 17 -99.9   -99.9  61700003865
 18 -99.9   -99.9  61700003865
 19 -99.9   -99.9  61700003865
 20 -99.9   -99.9  61700003865
 21 -99.9   -99.9  61700003865
 22 -99.9   -99.9  61700003865
 23 -99.9   -99.9  61700003865
 24 -99.9   -99.9  61700003865
 25 -99.9   -99.9  61700003865
 26 -99.9   -99.9  61700003865
 27 -99.9   -99.9  61700003865
 28 -99.9   -99.9  61700003865
 29 -99.9   -99.9  61700003865
 30 -99.9   -99.9  61700003865
 31 -99.9   -99.9  61700003865
 32 -99.9   -99.9  61700003865
 33 -99.9   -99.9  61700003865
 34 -99.9   -99.9  61700003865
 35 -99.9   -99.9  61700003865
 36 -99.9   -99.9  61700003865
 37 -99.9   -99.9  61700003865
 38 -99.9   -99.9  61700003865
 39 -99.9   -99.9  61700003865
 40 -99.9   -99.9  61700003865
 41 -99.9   -99.9  61700003865
 42 -99.9   -99.9  61700003865
 43 -99.9   -99.9  61700003865
 44 -99.9   -99.9  61700003865
 45 -99.9   -99.9  61700003865
 46 -99.9   -99.9  61700003865
 47 -99.9   -99.9  61700003865
 48 -99.9   -99.9  61700003865
 49 -99.9   -99.9  61700003865
 50 -99.9   -99.9  61700003865  ,
      year    jan    feb    mar   apr    may   jun    jul   aug    sep    oct  \
 0    1879 -99.90 -99.90 -99.90 -99.9 -99.90 -99.9 -99.90 -99.9 -99.90 -99.90
 1    1880 -99.90 -99.90 -99.90 -99.9 -99.90 -99.9 -99.90 -99.9 -99.90 -99.90
 2    1881 -99.90 -99.90 -99.90 -99.9 -99.90 -99.9 -99.90 -99.9 -99.90 -99.90
 3    1882 -99.90 -99.90 -99.90 -99.9 -99.90 -99.9 -99.90 -99.9 -99.90 -99.90
 4    1883 -99.90 -99.90 -99.90 -99.9 -99.90 -99.9 -99.90 -99.9 -99.90 -99.90
 ..    ...    ...    ...    ...   ...    ...   ...    ...   ...    ...    ...
 121  2000   6.45   0.00   0.00   0.0   0.00  10.0  16.13   0.0  13.33   3.23
 122  2001   0.00   7.14   9.68  20.0   6.45  10.0   6.45   0.0  20.00   0.00
 123  2002 -99.90 -99.90 -99.90 -99.9 -99.90 -99.9 -99.90 -99.9 -99.90 -99.90
 124  2003 -99.90 -99.90 -99.90 -99.9 -99.90 -99.9 -99.90 -99.9 -99.90 -99.90
 125  2004 -99.90 -99.90 -99.90 -99.9 -99.90 -99.9 -99.90 -99.9 -99.90 -99.90

        nov    dec  annual      Station
 0   -99.90 -99.90  -99.90  LOCID000045
 1   -99.90 -99.90  -99.90  LOCID000045
 2   -99.90 -99.90  -99.90  LOCID000045
 3   -99.90 -99.90  -99.90  LOCID000045
 4   -99.90 -99.90  -99.90  LOCID000045
 ..     ...    ...     ...          ...
 121   0.00   0.00    4.11  LOCID000045
 122   6.67   6.45    7.67  LOCID000045
 123 -99.90 -99.90  -99.90  LOCID000045
 124 -99.90 -99.90  -99.90  LOCID000045
 125 -99.90 -99.90  -99.90  LOCID000045

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000051
 1   -99.9   -99.9  LOCID000051
 2   -99.9   -99.9  LOCID000051
 3   -99.9   -99.9  LOCID000051
 4   -99.9   -99.9  LOCID000051
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000051
 122 -99.9   -99.9  LOCID000051
 123 -99.9   -99.9  LOCID000051
 124 -99.9   -99.9  LOCID000051
 125 -99.9   -99.9  LOCID000051

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1879   6.45  14.29  29.03  16.67  22.58   0.00   9.68   6.45   0.00
 1    1880   0.00   0.00   0.00   6.67   6.45   6.67   0.00   6.45   0.00
 2    1881  29.03  10.71   6.45   6.67   6.45  13.33   3.23   3.23  10.00
 3    1882   0.00   0.00   0.00   0.00  16.13  13.33   3.23  25.81   3.33
 4    1883   6.45   0.00  48.39  13.33   6.45   3.33   3.23  16.13   3.33
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 121  2000   3.23   0.00   0.00   0.00   3.23  13.33  16.13   3.23  13.33
 122  2001   0.00  10.71  16.13  16.67   3.23  20.00   3.23   3.23  23.33
 123  2002   0.00   0.00   9.68   6.67   0.00   0.00   3.23   3.23   6.67
 124  2003   3.23   0.00   0.00  16.67   0.00   0.00   0.00   0.00   6.67
 125  2004  16.13   0.00   6.45   0.00  16.13   0.00   3.23   0.00   0.00

        oct    nov    dec  annual      Station
 0     9.68  16.67  35.48   13.97  LOCID000050
 1    22.58  13.33   0.00    5.21  LOCID000050
 2    41.94  13.33   0.00   12.05  LOCID000050
 3    19.35   6.67   6.45    7.95  LOCID000050
 4     9.68   0.00   6.45    9.86  LOCID000050
 ..     ...    ...    ...     ...          ...
 121   6.45   0.00   0.00    4.93  LOCID000050
 122   0.00   0.00   6.45    8.49  LOCID000050
 123  25.81  20.00  19.35    7.95  LOCID000050
 124  29.03   0.00   0.00    4.66  LOCID000050
 125   0.00   0.00   0.00    3.56  LOCID000050

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000044
 1   -99.9   -99.9  LOCID000044
 2   -99.9   -99.9  LOCID000044
 3   -99.9   -99.9  LOCID000044
 4   -99.9   -99.9  LOCID000044
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000044
 122 -99.9   -99.9  LOCID000044
 123 -99.9   -99.9  LOCID000044
 124 -99.9   -99.9  LOCID000044
 125 -99.9   -99.9  LOCID000044

 [126 rows x 15 columns],
     year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0   1901  19.35  39.29  25.81  10.00   0.00   3.33   0.00   9.68  20.00
 1   1902   0.00   0.00  16.13   6.67  35.48  10.00   6.45  29.03  20.00

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 15)
Shape of csv2: (126, 15)
Shape of csv3: (126, 15)
Shape of csv4: (135, 15)
Shape of csv5: (126, 15)
Shape of csv6: (135, 15)
Shape of csv7: (51, 15)
Shape of csv8: (126, 15)
Shape of csv9: (126, 15)
Shape of csv10: (126, 15)
Shape of csv11: (126, 15)
Shape of csv12: (99, 15)
Shape of csv13: (126, 15)
Shape of csv14: (126, 15)
Shape of csv15: (129, 15)
Shape of csv16: (126, 15)
Shape of csv17: (83, 15)
Shape of csv18: (99, 15)
Shape of csv19: (99, 15)
Shape of csv20: (93, 15)
Shape of csv21: (99, 15)
Shape of csv22: (91, 15)
Shape of csv23: (129, 15)
Shape of csv24: (126, 15)
Shape of csv25: (99, 15)
Shape of csv26: (99, 15)
Shape of csv27: (90, 15)
Shape of csv28: (99, 15)
Shape of csv29: (99, 15)
Shape of csv30: (99, 15)
Shape of csv31: (126, 15)
Shape of csv32: (126, 15)
Shape of csv33: (99, 15)
Shape of csv34: (121, 15)
Shape of csv35: (126, 15)
Shape of csv36: (126, 15)
Shape of csv37: (99, 15)
Shape of csv38: (109, 15)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):
    dfs = []
    for file_path in file_paths:
        df = pd.read_csv(file_path)
        dfs.append(df)

    merged_df_TX10p = pd.concat(dfs, ignore_index=True)
    return merged_df_TX10p

merged_df_TX10p = pd.concat(dataframes, ignore_index=True)
merged_df_TX10p

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,16.13,32.14,32.26,3.33,0.00,6.67,0.00,6.45,16.67,12.90,3.33,0.00,10.68,61700004063
1,1902,0.00,0.00,3.23,0.00,32.26,6.67,3.23,12.90,3.33,19.35,16.67,25.81,10.41,61700004063
2,1903,0.00,0.00,0.00,20.00,3.23,3.33,3.23,12.90,13.33,0.00,0.00,9.68,5.48,61700004063
3,1904,6.45,17.24,6.45,0.00,0.00,0.00,0.00,3.23,6.67,6.45,6.67,0.00,4.38,61700004063
4,1905,9.68,0.00,0.00,13.33,3.23,0.00,0.00,0.00,16.67,77.42,0.00,0.00,10.14,61700004063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4239,1995,6.45,0.00,6.45,3.33,16.13,13.33,0.00,0.00,20.00,3.23,6.67,32.26,9.04,61700010147
4240,1996,29.03,37.93,19.35,6.67,16.13,23.33,9.68,0.00,3.33,0.00,6.67,9.68,13.42,61700010147
4241,1997,19.35,0.00,3.23,0.00,12.90,3.33,0.00,0.00,6.67,16.13,16.67,6.45,7.12,61700010147
4242,1998,0.00,3.57,0.00,0.00,3.23,0.00,6.45,12.90,23.33,25.81,26.67,19.35,10.14,61700010147
4243,1999,0.00,3.57,0.00,3.33,3.23,0.00,0.00,3.23,0.00,6.45,0.00,0.00,1.64,61700010147

In [5]:
merged_df_TX10p.head(30)

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,16.13,32.14,32.26,3.33,0.00,6.67,0.00,6.45,16.67,12.90,3.33,0.00,10.68,61700004063
1,1902,0.00,0.00,3.23,0.00,32.26,6.67,3.23,12.90,3.33,19.35,16.67,25.81,10.41,61700004063
2,1903,0.00,0.00,0.00,20.00,3.23,3.33,3.23,12.90,13.33,0.00,0.00,9.68,5.48,61700004063
3,1904,6.45,17.24,6.45,0.00,0.00,0.00,0.00,3.23,6.67,6.45,6.67,0.00,4.38,61700004063
4,1905,9.68,0.00,0.00,13.33,3.23,0.00,0.00,0.00,16.67,77.42,0.00,0.00,10.14,61700004063
5,1906,3.23,0.00,19.35,0.00,12.90,16.67,3.23,3.23,16.67,6.45,3.33,16.13,8.49,61700004063
6,1907,6.45,14.29,9.68,0.00,12.90,3.33,12.90,6.45,3.33,0.00,6.67,0.00,6.30,61700004063
7,1908,6.45,0.00,16.13,10.00,6.45,3.33,3.23,12.90,10.00,19.35,16.67,16.13,10.14,61700004063
8,1909,3.23,17.86,9.68,3.33,0.00,13.33,19.35,6.45,3.33,0.00,16.67,0.00,7.67,61700004063
9,1910,0.00,0.00,6.45,0.00,12.90,3.33,9.68,6.45,13.33,0.00,6.67,0.00,4.93,61700004063
10,1911,6.45,0.00,0.00,10.00,0.00,0.00,0.00,0.00,0.00,6.45,0.00,0.00,1.92,61700004063
11,1912,3.23,10.34,0.00,3.33,0.00,0.00,0.00,29.03,46.67,22.58,10.00,3.23,10.68,61700004063
12,1913,0.00,0.00,0.00,13.33,6.45,13.33,16.13,25.81,0.00,9.68,0.00,0.00,7.12,61700004063
13,1914,6.45,0.00,0.00,0.00,16.13,6.67,12.90,0.00,13.33,12.90,0.00,0.00,5.75,61700004063
14,1915,9.68,3.57,19.35,6.67,3.23,0.00,3.23,12.90,10.00,22.58,16.67,0.00,9.04,61700004063
15,1916,0.00,6.90,0.00,3.33,0.00,10.00,0.00,3.23,10.00,16.13,6.67,0.00,4.66,61700004063
16,1917,25.81,25.00,29.03,23.33,0.00,0.00,0.00,0.00,6.67,29.03,0.00,19.35,13.15,61700004063
17,1918,0.00,0.00,6.45,13.33,0.00,16.67,3.23,6.45,0.00,19.35,6.67,0.00,6.03,61700004063
18,1919,12.90,17.86,12.90,33.33,9.68,30.00,19.35,12.90,6.67,45.16,30.00,16.13,20.55,61700004063
19,1920,0.00,0.00,0.00,0.00,0.00,13.33,3.23,12.90,3.33,9.68,13.33,6.45,5.21,61700004063
20,1921,0.00,0.00,0.00,3.33,3.23,16.67,3.23,9.68,0.00,6.45,36.67,16.13,7.95,61700004063
21,1922,9.68,17.86,25.81,23.33,6.45,6.67,16.13,6.45,26.67,51.61,6.67,3.23,16.71,61700004063
22,1923,0.00,10.71,0.00,6.67,12.90,50.00,0.00,3.23,10.00,9.68,6.67,12.90,10.14,61700004063
23,1924,12.90,24.14,3.23,10.00,0.00,3.33,9.68,16.13,0.00,0.00,16.67,0.00,7.95,61700004063
24,1925,0.00,0.00,32.26,3.33,3.23,13.33,3.23,12.90,36.67,16.13,20.00,22.58,13.70,61700004063
25,1926,0.00,0.00,6.45,0.00,16.13,6.67,12.90,9.68,0.00,25.81,0.00,0.00,6.58,61700004063
26,1927,0.00,3.57,3.23,3.33,32.26,10.00,6.45,16.13,20.00,16.13,6.67,22.58,11.78,61700004063
27,1928,3.23,0.00,12.90,16.67,35.48,16.67,0.00,9.68,6.67,25.81,0.00,12.90,11.78,61700004063
28,1929,29.03,67.86,12.90,20.00,6.45,20.00,16.13,9.68,0.00,0.00,3.33,0.00,15.07,61700004063
29,1930,0.00,0.00,3.23,16.67,9.68,0.00,12.90,16.13,0.00,3.23,0.00,0.00,5.21,61700004063

In [6]:
merged_df_TX10p.to_csv('merged_df_TX10p.csv', index=False)