In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/TX90p'

dataframes = read_csv_files(csv_directory)
dataframes

[    year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0   1901   3.23   0.00   6.45   6.67  16.13  16.67   6.45   6.45  26.67
 1   1902  16.13   3.57  12.90  10.00  12.90  20.00   6.45   6.45  16.67
 2   1903  35.48  39.29  29.03   0.00  29.03  10.00   6.45   9.68  26.67
 3   1904   6.45   6.90   6.45  13.33  12.90   3.33  35.48  12.90   3.33
 4   1905   3.23   0.00   6.45   3.33  12.90  26.67  22.58  12.90  10.00
 ..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 94  1995  16.13  35.71   9.68  13.33  12.90   6.67  32.26  25.81   0.00
 95  1996   3.23   3.45   0.00  23.33   3.23  26.67   0.00   6.45   0.00
 96  1997   0.00  35.71  25.81   3.33  22.58  13.33   0.00  35.48  13.33
 97  1998  38.71  50.00  16.13  10.00  25.81  16.67   9.68  32.26   3.33
 98  1999  32.26   3.57  16.13  20.00  12.90   3.33  12.90   3.23  40.00

       oct    nov    dec  annual      Station
 0   16.13   0.00   6.45    9.32  61700004063
 1    0.00   6.67   3.23    9.59  61700004063
 2   12.90   0.00   0.00   16.44  61700004063
 3    6.45   0.00   6.45    9.59  61700004063
 4    0.00  10.00   6.45    9.59  61700004063
 ..    ...    ...    ...     ...          ...
 94  29.03   3.33   6.45   15.89  61700004063
 95   3.23   3.33   0.00    6.03  61700004063
 96   9.68  10.00  16.13   15.34  61700004063
 97   6.45   0.00  19.35   18.90  61700004063
 98  12.90   3.33   6.45   13.97  61700004063

 [99 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1879 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 1    1880 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 2    1881 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 3    1882 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 4    1883 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 121  2000  12.90  27.59   3.23  26.67  32.26  23.33   0.00   6.45  13.33
 122  2001   6.45  28.57   9.68  13.33   6.45   3.33  19.35  16.13   3.33
 123  2002  32.26  50.00  22.58  10.00  12.90  13.33  12.90  25.81  20.00
 124  2003   9.68   3.57  29.03  30.00   9.68  16.67  25.81  29.03  16.67
 125  2004   6.45  27.59  22.58  20.00   6.45   0.00   3.23  19.35  23.33

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000043
 1   -99.90 -99.90 -99.90  -99.90  LOCID000043
 2   -99.90 -99.90 -99.90  -99.90  LOCID000043
 3   -99.90 -99.90 -99.90  -99.90  LOCID000043
 4   -99.90 -99.90 -99.90  -99.90  LOCID000043
 ..     ...    ...    ...     ...          ...
 121  12.90  10.00  35.48   16.99  LOCID000043
 122  35.48   0.00   0.00   11.78  LOCID000043
 123   6.45   0.00   0.00   16.99  LOCID000043
 124   0.00  23.33   6.45   16.71  LOCID000043
 125  12.90   0.00   6.45   12.33  LOCID000043

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000042
 1   -99.9   -99.9  LOCID000042
 2   -99.9   -99.9  LOCID000042
 3   -99.9   -99.9  LOCID000042
 4   -99.9   -99.9  LOCID000042
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000042
 122 -99.9   -99.9  LOCID000042
 123 -99.9   -99.9  LOCID000042
 124 -99.9   -99.9  LOCID000042
 125 -99.9   -99.9  LOCID000042

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1870   6.45   3.57   9.68  10.00  16.13  20.00   9.68   0.00   3.33
 1    1871   0.00   7.14  35.48   0.00   9.68   6.67   0.00   6.45  13.33
 2    1872   0.00   0.00  19.35  13.33   9.68   0.00  19.35   0.00  16.67
 3    1873   6.45   0.00  12.90  13.33   0.00  10.00   9.68  19.35   0.00
 4    1874   6.45   0.00   0.00  23.33   6.45  23.33  22.58   0.00  33.33
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 130  2000   6.45  34.48   9.68  23.33  38.71  36.67   0.00   6.45  13.33
 131  2001  22.58  39.29   3.23  10.34  22.58   3.33  32.26  33.33   0.00
 132  2002  34.48  45.83  29.03  14.29   9.68  20.00  12.90  12.90   6.67
 133  2003   7.14   7.41  41.94  33.33  22.58  50.00  16.13  58.06  20.69
 134  2004  16.13  28.57  16.67  31.03   3.23  13.33   6.45  25.81  24.14

        oct    nov    dec  annual      Station
 0     0.00   6.67   6.45    7.67  LOCID000040
 1     0.00   0.00   0.00    6.58  LOCID000040
 2     3.23  30.00   3.23    9.59  LOCID000040
 3    19.35  13.33   0.00    8.77  LOCID000040
 4    12.90   3.33   0.00   10.96  LOCID000040
 ..     ...    ...    ...     ...          ...
 130  12.90  13.33  29.03   18.63  LOCID000040
 131  32.26   0.00   6.67   16.99  LOCID000040
 132   3.23  23.33  16.13   18.08  LOCID000040
 133   6.67  16.67   6.90   23.84  LOCID000040
 134  29.03   3.33   0.00   16.16  LOCID000040

 [135 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000054
 1   -99.9   -99.9  LOCID000054
 2   -99.9   -99.9  LOCID000054
 3   -99.9   -99.9  LOCID000054
 4   -99.9   -99.9  LOCID000054
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000054
 122 -99.9   -99.9  LOCID000054
 123 -99.9   -99.9  LOCID000054
 124 -99.9   -99.9  LOCID000054
 125 -99.9   -99.9  LOCID000054

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1870 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 1    1871 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 2    1872 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 3    1873 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 4    1874 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 130  2000   6.45  31.03   3.23  33.33  38.71  30.00   0.00   9.68  13.33
 131  2001   6.45  32.14   3.23  13.33   9.68   0.00   9.68  25.81   0.00
 132  2002  35.48  46.43  12.90   3.33   9.68  10.00  19.35  25.81  13.33
 133  2003   9.68   0.00  12.90  13.33  25.81  33.33  12.90  35.48  16.67
 134  2004   0.00  24.14  19.35  13.33   0.00   0.00   0.00   6.45  13.33

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000041
 1   -99.90 -99.90 -99.90  -99.90  LOCID000041
 2   -99.90 -99.90 -99.90  -99.90  LOCID000041
 3   -99.90 -99.90 -99.90  -99.90  LOCID000041
 4   -99.90 -99.90 -99.90  -99.90  LOCID000041
 ..     ...    ...    ...     ...          ...
 130   3.23   6.67  29.03   16.99  LOCID000041
 131  22.58   0.00   0.00   10.14  LOCID000041
 132   0.00   3.33   0.00   14.79  LOCID000041
 133   0.00  20.00   3.23   15.34  LOCID000041
 134  19.35   0.00   0.00    7.95  LOCID000041

 [135 rows x 15 columns],
     year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0   1912 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1   1913 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2   1914 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3   1915 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4   1916 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 5   1917 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 6   1918 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 7   1919 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 8   1920 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 9   1921 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 10  1922 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 11  1923 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 12  1924 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 13  1925 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 14  1926 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 15  1927 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 16  1928 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 17  1929 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 18  1930 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 19  1931 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 20  1932 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 21  1933 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 22  1934 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 23  1935 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 24  1936 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 25  1937 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 26  1938 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 27  1939 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 28  1940 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 29  1941 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 30  1942 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 31  1943 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 32  1944 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 33  1945 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 34  1946 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 35  1947 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 36  1948 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 37  1949 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 38  1950 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 39  1951 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 40  1952 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 41  1953 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 42  1954 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 43  1955 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 44  1956 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 45  1957 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 46  1958 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 47  1959 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 48  1960 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 49  1961 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 50  1962 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

      dec  annual      Station
 0  -99.9   -99.9  61700003865
 1  -99.9   -99.9  61700003865
 2  -99.9   -99.9  61700003865
 3  -99.9   -99.9  61700003865
 4  -99.9   -99.9  61700003865
 5  -99.9   -99.9  61700003865
 6  -99.9   -99.9  61700003865
 7  -99.9   -99.9  61700003865
 8  -99.9   -99.9  61700003865
 9  -99.9   -99.9  61700003865
 10 -99.9   -99.9  61700003865
 11 -99.9   -99.9  61700003865
 12 -99.9   -99.9  61700003865
 13 -99.9   -99.9  61700003865
 14 -99.9   -99.9  61700003865
 15 -99.9   -99.9  61700003865
 16 -99.9   -99.9  61700003865
 17 -99.9   -99.9  61700003865
 18 -99.9   -99.9  61700003865
 19 -99.9   -99.9  61700003865
 20 -99.9   -99.9  61700003865
 21 -99.9   -99.9  61700003865
 22 -99.9   -99.9  61700003865
 23 -99.9   -99.9  61700003865
 24 -99.9   -99.9  61700003865
 25 -99.9   -99.9  61700003865
 26 -99.9   -99.9  61700003865
 27 -99.9   -99.9  61700003865
 28 -99.9   -99.9  61700003865
 29 -99.9   -99.9  61700003865
 30 -99.9   -99.9  61700003865
 31 -99.9   -99.9  61700003865
 32 -99.9   -99.9  61700003865
 33 -99.9   -99.9  61700003865
 34 -99.9   -99.9  61700003865
 35 -99.9   -99.9  61700003865
 36 -99.9   -99.9  61700003865
 37 -99.9   -99.9  61700003865
 38 -99.9   -99.9  61700003865
 39 -99.9   -99.9  61700003865
 40 -99.9   -99.9  61700003865
 41 -99.9   -99.9  61700003865
 42 -99.9   -99.9  61700003865
 43 -99.9   -99.9  61700003865
 44 -99.9   -99.9  61700003865
 45 -99.9   -99.9  61700003865
 46 -99.9   -99.9  61700003865
 47 -99.9   -99.9  61700003865
 48 -99.9   -99.9  61700003865
 49 -99.9   -99.9  61700003865
 50 -99.9   -99.9  61700003865  ,
      year    jan    feb    mar    apr    may    jun   jul    aug    sep  \
 0    1879 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90
 1    1880 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90
 2    1881 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90
 3    1882 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90
 4    1883 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90
 ..    ...    ...    ...    ...    ...    ...    ...   ...    ...    ...
 121  2000   9.68  24.14   6.45  23.33  19.35  26.67   0.0   6.45  16.67
 122  2001   9.68  32.14   9.68  13.33   6.45   3.33  12.9  22.58   0.00
 123  2002 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90
 124  2003 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90
 125  2004 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000045
 1   -99.90 -99.90 -99.90  -99.90  LOCID000045
 2   -99.90 -99.90 -99.90  -99.90  LOCID000045
 3   -99.90 -99.90 -99.90  -99.90  LOCID000045
 4   -99.90 -99.90 -99.90  -99.90  LOCID000045
 ..     ...    ...    ...     ...          ...
 121   6.45   6.67  22.58   13.97  LOCID000045
 122  25.81   0.00   0.00   11.23  LOCID000045
 123 -99.90 -99.90 -99.90  -99.90  LOCID000045
 124 -99.90 -99.90 -99.90  -99.90  LOCID000045
 125 -99.90 -99.90 -99.90  -99.90  LOCID000045

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000051
 1   -99.9   -99.9  LOCID000051
 2   -99.9   -99.9  LOCID000051
 3   -99.9   -99.9  LOCID000051
 4   -99.9   -99.9  LOCID000051
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000051
 122 -99.9   -99.9  LOCID000051
 123 -99.9   -99.9  LOCID000051
 124 -99.9   -99.9  LOCID000051
 125 -99.9   -99.9  LOCID000051

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1879   3.23  10.71   0.00  10.00   0.00   3.33   0.00   3.23   6.67
 1    1880   3.23   3.45  12.90  26.67   6.45   3.33   6.45   3.23  13.33
 2    1881   0.00   0.00   0.00   0.00   9.68  10.00  19.35   6.45   3.33
 3    1882  12.90  25.00  29.03   3.33   6.45   0.00   6.45   0.00  13.33
 4    1883   3.23   7.14   0.00   0.00  12.90  10.00  12.90   3.23   3.33
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 121  2000   3.23  24.14   3.23  40.00  38.71  30.00   0.00   9.68  13.33
 122  2001   9.68  28.57  12.90  16.67   9.68   0.00  12.90  19.35   0.00
 123  2002  35.48  59.26  12.90   6.67  12.90  13.33  19.35  32.26  16.67
 124  2003   9.68   0.00   9.68  13.33  19.35  26.67  16.13  22.58  26.67
 125  2004   3.23  25.93  16.13   6.67   3.23   0.00   3.23  19.35   3.33

        oct    nov    dec  annual      Station
 0     0.00   0.00   0.00    3.01  LOCID000050
 1     6.45  23.33  16.13   10.41  LOCID000050
 2     0.00  33.33   3.23    7.12  LOCID000050
 3     3.23   3.33   9.68    9.32  LOCID000050
 4     6.45   3.33   6.45    5.75  LOCID000050
 ..     ...    ...    ...     ...          ...
 121  16.13  13.33  22.58   17.81  LOCID000050
 122  22.58   0.00   0.00   10.96  LOCID000050
 123   3.23   3.33   0.00   17.53  LOCID000050
 124   0.00  23.33   6.67   14.52  LOCID000050
 125  12.90   3.33   0.00    7.95  LOCID000050

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000044
 1   -99.9   -99.9  LOCID000044
 2   -99.9   -99.9  LOCID000044
 3   -99.9   -99.9  LOCID000044
 4   -99.9   -99.9  LOCID000044
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000044
 122 -99.9   -99.9  LOCID000044
 123 -99.9   -99.9  LOCID000044
 124 -99.9   -99.9  LOCID000044
 125 -99.9   -99.9  LOCID000044

 [126 rows x 15 columns],
     year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0   1901   3.23   0.00   0.00  16.67   9.68   6.67  25.81   6.45  26.67

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 15)
Shape of csv2: (126, 15)
Shape of csv3: (126, 15)
Shape of csv4: (135, 15)
Shape of csv5: (126, 15)
Shape of csv6: (135, 15)
Shape of csv7: (51, 15)
Shape of csv8: (126, 15)
Shape of csv9: (126, 15)
Shape of csv10: (126, 15)
Shape of csv11: (126, 15)
Shape of csv12: (99, 15)
Shape of csv13: (126, 15)
Shape of csv14: (126, 15)
Shape of csv15: (129, 15)
Shape of csv16: (126, 15)
Shape of csv17: (83, 15)
Shape of csv18: (99, 15)
Shape of csv19: (99, 15)
Shape of csv20: (93, 15)
Shape of csv21: (99, 15)
Shape of csv22: (91, 15)
Shape of csv23: (129, 15)
Shape of csv24: (126, 15)
Shape of csv25: (99, 15)
Shape of csv26: (99, 15)
Shape of csv27: (90, 15)
Shape of csv28: (99, 15)
Shape of csv29: (99, 15)
Shape of csv30: (99, 15)
Shape of csv31: (126, 15)
Shape of csv32: (126, 15)
Shape of csv33: (99, 15)
Shape of csv34: (121, 15)
Shape of csv35: (126, 15)
Shape of csv36: (126, 15)
Shape of csv37: (99, 15)
Shape of csv38: (109, 15)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):
    dfs = []

    for file_path in file_paths:
        df = pd.read_csv(file_path)
        dfs.append(df)

    merged_df_TX90p = pd.concat(dfs, ignore_index=True)

    return merged_df_TX90p

merged_df_TX90p = pd.concat(dataframes, ignore_index=True)
merged_df_TX90p

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,3.23,0.00,6.45,6.67,16.13,16.67,6.45,6.45,26.67,16.13,0.00,6.45,9.32,61700004063
1,1902,16.13,3.57,12.90,10.00,12.90,20.00,6.45,6.45,16.67,0.00,6.67,3.23,9.59,61700004063
2,1903,35.48,39.29,29.03,0.00,29.03,10.00,6.45,9.68,26.67,12.90,0.00,0.00,16.44,61700004063
3,1904,6.45,6.90,6.45,13.33,12.90,3.33,35.48,12.90,3.33,6.45,0.00,6.45,9.59,61700004063
4,1905,3.23,0.00,6.45,3.33,12.90,26.67,22.58,12.90,10.00,0.00,10.00,6.45,9.59,61700004063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4239,1995,6.45,42.86,6.45,16.67,12.90,0.00,25.81,35.48,3.33,35.48,0.00,0.00,15.34,61700010147
4240,1996,3.23,3.45,0.00,16.67,3.23,13.33,6.45,22.58,0.00,0.00,13.33,0.00,6.85,61700010147
4241,1997,3.23,46.43,25.81,3.33,6.45,13.33,3.23,51.61,6.67,9.68,6.67,22.58,16.44,61700010147
4242,1998,35.48,46.43,16.13,6.67,16.13,3.33,6.45,6.45,3.33,3.23,0.00,16.13,13.15,61700010147
4243,1999,29.03,3.57,19.35,23.33,9.68,3.33,29.03,12.90,60.00,9.68,16.67,9.68,18.90,61700010147

In [5]:
merged_df_TX90p.head(30)

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,3.23,0.00,6.45,6.67,16.13,16.67,6.45,6.45,26.67,16.13,0.00,6.45,9.32,61700004063
1,1902,16.13,3.57,12.90,10.00,12.90,20.00,6.45,6.45,16.67,0.00,6.67,3.23,9.59,61700004063
2,1903,35.48,39.29,29.03,0.00,29.03,10.00,6.45,9.68,26.67,12.90,0.00,0.00,16.44,61700004063
3,1904,6.45,6.90,6.45,13.33,12.90,3.33,35.48,12.90,3.33,6.45,0.00,6.45,9.59,61700004063
4,1905,3.23,0.00,6.45,3.33,12.90,26.67,22.58,12.90,10.00,0.00,10.00,6.45,9.59,61700004063
5,1906,16.13,0.00,19.35,23.33,19.35,10.00,0.00,9.68,23.33,19.35,26.67,0.00,13.97,61700004063
6,1907,0.00,0.00,0.00,0.00,32.26,10.00,0.00,16.13,23.33,38.71,13.33,12.90,12.33,61700004063
7,1908,3.23,0.00,0.00,0.00,22.58,26.67,3.23,0.00,6.67,25.81,0.00,3.23,7.67,61700004063
8,1909,3.23,0.00,6.45,16.67,9.68,3.33,0.00,3.23,3.33,3.23,0.00,19.35,5.75,61700004063
9,1910,19.35,21.43,19.35,3.33,12.90,20.00,0.00,0.00,0.00,12.90,3.33,6.45,9.86,61700004063
10,1911,0.00,3.57,9.68,30.00,3.23,3.33,41.94,54.84,30.00,12.90,3.33,3.23,16.44,61700004063
11,1912,6.45,44.83,16.13,3.33,6.45,10.00,3.23,0.00,0.00,3.23,3.33,19.35,9.59,61700004063
12,1913,0.00,14.29,22.58,16.67,16.13,10.00,0.00,3.23,0.00,9.68,26.67,0.00,9.86,61700004063
13,1914,0.00,17.86,3.23,33.33,6.45,0.00,3.23,16.13,6.67,6.45,3.33,25.81,10.14,61700004063
14,1915,9.68,7.14,3.23,10.00,16.13,30.00,3.23,0.00,0.00,0.00,0.00,38.71,9.86,61700004063
15,1916,32.26,10.34,29.03,16.67,12.90,0.00,0.00,0.00,0.00,6.45,10.00,16.13,11.23,61700004063
16,1917,12.90,0.00,0.00,0.00,25.81,36.67,6.45,3.23,6.67,3.23,10.00,0.00,8.77,61700004063
17,1918,12.90,14.29,19.35,6.67,12.90,0.00,6.45,9.68,0.00,3.23,6.67,19.35,9.32,61700004063
18,1919,12.90,10.71,12.90,0.00,0.00,20.00,0.00,12.90,20.00,0.00,3.33,6.45,8.22,61700004063
19,1920,25.81,17.24,25.81,16.67,16.13,0.00,9.68,0.00,3.33,0.00,6.67,16.13,11.51,61700004063
20,1921,41.94,0.00,35.48,20.00,12.90,10.00,25.81,19.35,6.67,35.48,0.00,3.23,17.81,61700004063
21,1922,9.68,10.71,19.35,6.67,19.35,6.67,3.23,3.23,0.00,0.00,0.00,0.00,6.58,61700004063
22,1923,3.23,10.71,19.35,3.33,16.13,0.00,19.35,6.45,13.33,12.90,3.33,0.00,9.04,61700004063
23,1924,0.00,0.00,0.00,10.00,22.58,3.33,3.23,0.00,3.33,0.00,6.67,0.00,4.11,61700004063
24,1925,9.68,39.29,3.23,6.67,12.90,6.67,12.90,6.45,0.00,0.00,0.00,16.13,9.32,61700004063
25,1926,6.45,32.14,3.23,30.00,3.23,0.00,0.00,0.00,13.33,3.23,23.33,0.00,9.32,61700004063
26,1927,9.68,10.71,16.13,3.33,12.90,6.67,3.23,0.00,6.67,9.68,6.67,6.45,7.67,61700004063
27,1928,16.13,20.69,6.45,13.33,0.00,6.67,22.58,0.00,6.67,12.90,16.67,3.23,10.41,61700004063
28,1929,0.00,0.00,3.23,3.33,22.58,3.33,16.13,12.90,36.67,12.90,6.67,25.81,12.05,61700004063
29,1930,12.90,3.57,19.35,20.00,3.23,30.00,16.13,6.45,0.00,6.45,30.00,0.00,12.33,61700004063

In [6]:
merged_df_TX90p.to_csv('merged_df_TX90p.csv', index=False)